@model MedicalApparatusManage.Models.T_XSMXModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <script type="text/javascript" language="javascript">
        $(function () {
            var tag = $("#Tag").val();
            if (tag == "Details") {
                $("form input").prop("readonly", true);
                $("#divSave").hide();
            }

            var cpid = $("#YLCP").val();
            if (cpid != "") {
                dropChange(cpid);
            }
        });
        function Save() {
            var elements = document.forms['formT_XSMX'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_XSMX/Save",
                    data: $("#formT_XSMX").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };

        function dropChange(id) {
            if (id != "") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_YLCP/GetYLCP",
                    data: { cpid: id },
                    success: function (json) {
                        var tes = eval("(" + json + ")");
                        document.getElementById("cpgg").value = tes.CPGG;
                    },
                    error: function () {
                        alert("发生错误！");
                    }
                });
            }
        };
    </script>
</head>
<body>
    <div class="pageContent">
        <form id="formT_XSMX" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
            <div class="pageFormContent" layouth="58">
                @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                @Html.HiddenFor(m => m.DataModel.MXID, new { Name = "DataModel.MXID" })
                <div class="unit">
                    <label>
                        销售单：
                    </label>
                    @Html.DropDownListFor(m => m.DataModel.XSID, ViewData["XSD"] as SelectList,  new { style = "width:270px" })
                </div>
                <div class="unit">
                    <label>
                        产品名称：
                    </label>
                    @Html.DropDownListFor(m => m.DataModel.CPID, ViewData["YLCP"] as SelectList, new { ID = "YLCP", style = "width:270px", onchange = "dropChange(this.value)" })
                </div>
                <div class="unit">
                    <label>
                        产品规格：
                    </label>
                    <input type="text" id="cpgg" style="width:270px" readonly="readonly" value="" />
                </div>
                <div class="unit">
                    <label>
                        产品数量：
                    </label>
                    @Html.TextBoxFor(m => m.DataModel.CPSL, new { name = "CPSL", style = "width:260px" })
                </div>
                <div class="unit">
                    <label>
                        销售单价：
                    </label>
                    @Html.TextBoxFor(m => m.DataModel.XSJG, new { name = "XSJG", style = "width:260px" })
                </div>
                <div class="unit">
                    <label>
                        销售备注：
                    </label>
                    @Html.TextAreaFor(m => m.DataModel.XSBZ, new { name = "XSBZ", style = "width:260px;height:260px" })
                </div>
            </div>
            <div class="formBar">
                <ul>
                    <li>
                        <div class="button" id="divSave">
                            <div class="buttonContent">
                                <button value="保存" onclick="Save();">
                                    保存
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="button">
                            <div class="buttonContent">
                                <button value="取消" class="close">
                                    取消
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</body>
</html>
