@model MedicalApparatusManage.Models.T_QYZZModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>企业资料管理</title>
</head>
<body>
    <div id="pageContent">
        <div class="pageHeader" style="hight: 80px;">
            @using (Html.BeginForm("Index", "T_QYZZ", FormMethod.Post, new
            {
                name = "formSerachMA",
                id = "formSerachMA",
                onsubmit = "return navTabSearch(this);"

            }))
            {
                <div class="searchBar">
                    <table class="searchContent">
                        <tr>
                             <td>
                                资料名称:
                            </td>
                            <td>
                                @Html.TextBox("strZZMC")
                            </td>
                            <td>
                                资料类型：
                            </td>
                            <td>
                                @{
                                      string[] test = { "冷链运输", "营业执照", "生产许可证", "经营许可证", "授权书", "开户许可证", "其他" };
                                     List<SelectListItem> lxlist = new List<SelectListItem>();
                                     foreach (string s in test)
                                     {
                                         lxlist.Add(new SelectListItem { Text = s, Value = s });
                                      }

                                      @Html.DropDownList("strZZLX", lxlist, "请选择")
                                }
                            </td>

                            <td>
                                <ul>
                                    <li>
                                        <div class="buttonActive">
                                            <div class="buttonContent">
                                                <button type="submit" id="Button1" name="btnSerachOl">
                                                    检索
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
        <div class="panelBar" id="EntLimitMenu">
            <ul class="toolBar">
                <li><a class="add" href="/T_QYZZ/Save/0/Add" target="dialog"  mask="true" title="新增" width="1050" height="500"><span>新增</span></a></li>
                @*<li> <a class="edit" href="/T_QYZZ/Save/{sid_user}/Edit" target="dialog" mask="true" title="修改" width="1050" height="500"><span>修改</span></a></li>*@
                <li><a class="delete" href="/T_QYZZ/Delete/{sid_user}" target="ajaxTodo" title="确定删除吗?" mask="true"><span>删除</span></a></li>
                <li><a class="icon" href="/T_QYZZ/Save/{sid_user}/Details" target="dialog"  mask="true" width="1050" height="500"><span>查看详情</span></a></li>
            </ul>
        </div>
        <table width="100%" layouth="112" class="table" id="T_QYZZTable">
           <thead>
                <tr>
                    <th>
                        所有资料
                    </th>
                    <th>
                        所有类型
                    </th>
                    <th>
                        资料附件
                    </th>
                    <th>
                        所属企业
                    </th>
                    <th>
                        是否启用
                    </th>
                    <th>
                        备注
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataList)
                {
                    <tr target="sid_user" rel="@item.ZZID">
                        <td>@item.ZZMC</td>
                        <td>@item.ZZLX</td>
                        <td><a href="~/UploadFiles/供货商资料/@item.ZZFJ" target="_blank">@item.ZZFJ</a></td>
                        <td>@item.T_SupQY.SupMC</td>
                        <td>@item.ZZYX</td>
                        <td>@item.ZZBZ</td>
                    </tr>
                }
            </tbody>
        </table>
        <form id="pagerForm" method="post" onsubmit="return navTabSearch(this);">
            <input type="hidden" name="pageNum" id="pageNum" />
            @Html.HiddenFor(m => m.pageSize, new { name = "numPerPage", id = "numPerPage" })
            <input type="hidden" name="totalCount" id="totalCount" />
            @Html.HiddenFor(m => m.SortCol, new { name = "SortCol_OP", id = "SortCol_OP" })
            @Html.HiddenFor(m => m.SortKey, new { name = "SortKey_OP", id = "SortKey_OP" })
            @Html.HiddenFor(m => m.StartTime, new { name = "StartTime" })
            @Html.HiddenFor(m => m.EndTime, new { name = "EndTime" })
            <input type="hidden" name="orderField" value="${param.orderField}" />
            <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        </form>
        <div class="panelBar">
            <div class="pages">
                <span style="width: 35px;">显示</span>
                @{
                    string[] sL = { "10", "20", "30", "50", "100", "500", "1000", "5000" };
                    List<SelectListItem>
                                list = new List<SelectListItem>
                                    ();
                    foreach (string s in sL)
                    {
                        list.Add(new SelectListItem { Text = s, Value = s });
                    }
                    @Html.DropDownListFor(m => m.pageSize, list, new { name = "numPerPage", id = "numPerPage", onchange = "navTabPageBreak({numPerPage:this.value});" });
                    <span>
                        条，共<label>@Model.resultCount</label>
                        条
                    </span>

                }
            </div>
            <div class="pagination" targettype="navTab" totalcount="@Model.resultCount"
                 numperpage="@Model.pageSize" pagenumshown="@Model.pagecount"
                 currentpage="@Model.currentPage">
            </div>
        </div>
    </div>
</body>
</html>


