@model MedicalApparatusManage.Models.T_KCModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>库存</title>
    <script type="text/javascript">
        $(function () {
            $("#CPList").chosen({
                search_contains: true
            });
            $("#QYList").chosen({
                search_contains: true
            });
            $("#strKCSupQY").chosen({
                search_contains: true
            });
        });
    </script>
</head>
<body>
    <div id="pageContent">
        <div class="pageHeader" style="hight: 80px;">
            @using (Html.BeginForm("Index", "T_KC", FormMethod.Post, new
            {
                name = "formSerachMA",
                id = "formSerachMA",
                onsubmit = "return navTabSearch(this);"

            }))
            {
                <div class="searchBar">
                    <table class="searchContent">
                        <tr>
                            <td>
                                仓库名称:
                            </td>
                            <td>
                                @Html.DropDownList("CKList", ViewData["CK"] as SelectList, "请选择", new { id = "CKList", Value = @ViewData["CKList"] })
                            </td>
                            <td>
                                产品名称:
                            </td>
                            <td>
                                @Html.DropDownList("CPList", ViewData["YLCP"] as SelectList, "请选择", new { id = "CPList", style = "width:285px", Value = @ViewData["CPList"] })
                            </td>
                            <td>
                                生产企业:
                            </td>
                            <td>
                                @Html.DropDownList("QYList", ViewData["QY"] as SelectList, "请选择", new { id = "QYList", style = "width:285px", Value = @ViewData["QYList"] })
                            </td>
                            <td>
                                供货企业:
                            </td>
                            <td>
                                @Html.DropDownList("strKCSupQY", ViewData["QY"] as SelectList, "请选择", new { id = "strKCSupQY", style = "width:285px", Value = @ViewData["strKCSupQY"] })
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <div class="buttonActive">
                                            <div class="buttonContent">
                                                <button type="submit" id="Button1" name="btnSerachOl">
                                                    检索
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
        <div class="panelBar" id="EntLimitMenu">
            <ul class="toolBar">
                @*<li><a class="add" href="/T_KC/Save/0/Add" target="dialog"  mask="true" title="新增" width="1050" height="350"><span>新增</span></a></li>
                    <li><a class="delete" href="/T_KC/Delete/{sid_user}" target="ajaxTodo" title="确定删除吗?" mask="true"><span>删除</span></a></li>*@
                @*<li><a class="icon" href="/T_KC/Save/{sid_user}/Details" target="dialog"  mask="true" width="1050" height="350"><span>查看详情</span></a></li>*@
                @*<li><a class="edit" href="/T_KC/Save/{sid_user}/Edit" target="dialog" mask="true" title="查看详情" width="1050" height="350"><span>查看详情</span></a></li>*@
            </ul>
        </div>
        <table width="100%" layouth="112" class="table" id="T_KCTable">
            <thead>
                <tr>
                    <th>
                        产品编号
                    </th>
                    <th>
                        产品名称
                    </th>
                    <th>
                        生产企业
                    </th>
                    <th>
                        产品规格
                    </th>
                    <th>
                        产品型号
                    </th>
                    <th>
                        包装单位
                    </th>
                    <th>
                        产品数量
                    </th>
                    <th>
                        产品批号
                    </th>
                    <th>
                        生产日期
                    </th>
                    <th>
                        失效日期
                    </th>
                    <th>
                        生产许可证号
                    </th>
                    <th>
                        产品注册证号
                    </th>
                    <th>
                        供货企业
                    </th>
                    <th>
                        仓储库房
                    </th>
                    @*<th>
                            库管
                        </th>*@
                </tr>
            </thead>
            <tbody>
                @if (Model.DataList != null)
                {
                    foreach (var item in Model.DataList)
                    {
                        <tr target="sid_user" rel="@item.KCID">
                            <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPBH) ? item.T_YLCP.CPBH : "")</td>
                            <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPMC) ? item.T_YLCP.CPMC : "")</td>
                            <td>@(item.T_SupQY1 != null && !string.IsNullOrEmpty(item.T_SupQY1.SupMC) ? item.T_SupQY1.SupMC : "")</td>
                            <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPGG) ? item.T_YLCP.CPGG : "")</td>
                            <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPXH) ? item.T_YLCP.CPXH : "")</td>
                            <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPDW) ? item.T_YLCP.CPDW : "")</td>
                            <td>@item.CPNUM</td>
                            <td>@item.CPPH</td>
                            <td>@(item.CPSCRQ.HasValue ? item.CPSCRQ.Value.ToString("yyyy/MM/dd") : "")</td>
                            <td>@(item.CPYXQ.HasValue ? item.CPYXQ.Value.ToString("yyyy/MM/dd") : "")</td>
                            <td>@(item.T_SupQY1 != null && !string.IsNullOrEmpty(item.T_SupQY1.SupXKZBH) ? item.T_SupQY1.SupXKZBH : "")</td>
                            <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPZCZ) ? item.T_YLCP.CPZCZ : "")</td>
                            <td>@(item.T_SupQY != null && !string.IsNullOrEmpty(item.T_SupQY.SupMC) ? item.T_SupQY.SupMC : "")</td>
                            <td>@(item.T_CK != null && !string.IsNullOrEmpty(item.T_CK.CKMC) ? item.T_CK.CKMC : "")</td>
                            @*<td>@(item.T_CK != null && !string.IsNullOrEmpty(item.T_CK.CKGLY) ? item.T_CK.CKGLY : "")</td>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
        <form id="pagerForm" method="post" onsubmit="return navTabSearch(this);">
            <input type="hidden" name="pageNum" id="pageNum" />
            @Html.HiddenFor(m => m.pageSize, new { name = "numPerPage", id = "numPerPage" })
            <input type="hidden" name="totalCount" id="totalCount" />
            @Html.HiddenFor(m => m.SortCol, new { name = "SortCol_OP", id = "SortCol_OP" })
            @Html.HiddenFor(m => m.SortKey, new { name = "SortKey_OP", id = "SortKey_OP" })
            @Html.HiddenFor(m => m.StartTime, new { name = "StartTime" })
            @Html.HiddenFor(m => m.EndTime, new { name = "EndTime" })
            <input type="hidden" name="orderField" value="${param.orderField}" />
            <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        </form>
        <div class="panelBar">
            <div class="pages">
                <span style="width: 35px;">显示</span>
                @{
                    string[] sL = { "10", "20", "30", "50" };
                    List<SelectListItem>
                        list = new List<SelectListItem>
                            ();
                    foreach (string s in sL)
                    {
                        list.Add(new SelectListItem { Text = s, Value = s });
                    }
                    @Html.DropDownListFor(m => m.pageSize, list, new { name = "numPerPage", id = "numPerPage", onchange = "navTabPageBreak({numPerPage:this.value});" });
                    <span>
                        条，共<label>@Model.resultCount</label>
                        条
                    </span>

                }
            </div>
            <div class="pagination" targettype="navTab" totalcount="@Model.resultCount"
                 numperpage="@Model.pageSize" pagenumshown="@Model.pagecount"
                 currentpage="@Model.currentPage">
            </div>
        </div>
    </div>
</body>
</html>


