@model MedicalApparatusManage.Models.T_CusQYModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.js"></script>
    <script src="~/Scripts/jquery.multiselect.js"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            var tag = $("#Tag").val();
            if (tag == "Details") {
                $("form input").prop("readonly", true);
                $("#divSave").hide();
            }
            var str = $('#CusJYFW').val();
            var arr = str.split(',');
            var sel = document.getElementById("example_tem");
            var len = sel.options.length;
            for (var i = 0; i < arr.length; i++) {
                for (var j = 0; j < len; j++) {
                    if (sel.options[j].value == arr[i]) {
                        sel.options[j].setAttribute("selected", true);
                        break;
                    }
                }
            }
            $("#example_tem").multiselect({
                header: false,
                height: 200,
                minWidth: 200,
                selectedList: 10,//预设值最多显示10被选中项
                hide: ["explode", 500],
                noneSelectedText: '请选择',
                close: function () {
                    var values = $("#example").val();
                }
            });
        });
        function Save() {
            var elements = document.forms['formT_CusQY'];
            var bl = validateCallback(elements);
            if (bl) {
                //获取资质table的值赋给文本
                getQYZZ();
                var selectcheck = $('#example_tem').val();
                $('#CusJYFW').val(selectcheck);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CusQY/Save",
                    data: $("#formT_CusQY").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };
        $(function () {
            $.ajaxSetup({ cache: false });
            //uploadify上传组件
            $('#uploadify').uploadify({
                uploader: '/T_CusQY/Upload',           // 服务器端处理地址
                swf: '/Content/upload/uploadify.swf',    // 上传使用的 Flash
                fileSizeLimit: '100MB',             //在上传界面上限制上传文件大小
                width: 60,                          // 按钮的宽度
                height: 23,                         // 按钮的高度
                buttonText: "上传",                 // 按钮上的文字
                buttonCursor: 'hand',                // 按钮的鼠标图
                fileObjName: 'Filedata',            // 上传参数名称
                formData: { 'uptype': '0' },
                auto: true,                // 选择之后，自动开始上传
                multi: true,               // 是否支持同时上传多个文件
                //queueSizeLimit: 5          // 允许多文件上传的时候，同时上传文件的个数
                'onUploadSuccess': function (file, data) {
                    var datalist = eval("[" + data + "]");
                    AddRow(datalist[0].filename);
                },
                'overrideEvents': ['onDialogClose', 'onUploadError', 'onSelectError'],
                'onSelect': uploadify_onSelect,
                'onSelectError': uploadify_onSelectError,
                'onUploadError': uploadify_onUploadError,
            });
            $('.dialogContent').css('overflow', 'auto');
        });
        function through(type) {
            var elements = document.forms['formT_CusQY'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CusQY/through/" + type,
                    data: $("#formT_CusQY").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };
        function AddRow(filename) {
            $str = '';
            $str += "<tr target='sid_user'>";
            $str += "<td><a href='/UploadFiles/购货企业资质/" + filename + "' target='_blank'>" + filename + "</a></td>";
            $str += "<td><div><a href='javascript:void(0)' class='btnDel' onclick='deleteQYZZ(this);'>删除</a></div></td>";
            $str += "</tr>";
            $("#wtlb").append($str);
        };
        function deleteQYZZ(obj) {
            alertMsg.confirm("确定要删除么？", {
                okCall: function () {
                    var tr = obj.parentNode.parentNode.parentNode;
                    var tbody = tr.parentNode;
                    tbody.removeChild(tr);
                }
            });
        };
        function getQYZZ() {
            var qyzzFiles = "";
            $('#wtlb tr').each(function () {
                $(this).find('td:eq(0)').each(function () {
                    if ($(this).text() != "") {
                        qyzzFiles += $(this).text() + ";";
                    }
                });
            });
            $('#QYZZFiles').val(qyzzFiles);
        };
    </script>
</head>
<body>
    <div class="pageContent">
        <form id="formT_CusQY" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
            <div class="pageFormContent" layouth="58">
                <fieldset>
                    @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                    @Html.HiddenFor(m => m.DataModel.CusID, new { Name = "DataModel.CusID" })
                    @Html.HiddenFor(m => m.DataModel.CusStatus, new { Name = "DataModel.CusStatus" })
                    @Html.HiddenFor(m => m.QYZZFiles, new { ID = "QYZZFiles", Name = "QYZZFiles" })
                    @Html.HiddenFor(m => m.DataModel.CusJYFW, new { ID = "CusJYFW", Name = "DataModel.CusJYFW" })
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                企业名称：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusMC, new { name = "CusMC", style = "width:279px", @class = "required" })
                        </div>
                        <div class="unit">
                            <label>
                                信用代码：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusZZJGDM, new { name = "CusZZJGDM", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                注册资本(万)：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusZCZB, new { name = "CusZCZB", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                注册地址：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusZCDZ, new { name = "CusZCDZ", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                法人代表：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusFSDB, new { name = "CusFSDB", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                企业类型：
                            </label>
                            @{
                                string[] QYL = { "国有企业", "集体企业", "股份合作企业", "有限责任公司", "联营企业", "中外合资经营企业", "中外合作经营企业" };
                                List<SelectListItem>
                                    QYlist = new List<SelectListItem>
                                        ();
                                foreach (string s in QYL)
                                {
                                    QYlist.Add(new SelectListItem { Text = s, Value = s });
                                }

                                @Html.DropDownListFor(m => m.DataModel.CusDWXZ, QYlist, "--- 请选择 ---", new { name = "WhsDWXZ", style = "width:282px" })
                            }
                        </div>
                        <div class="unit">
                            <label>
                                成立日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusZCSJ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CusZCSJ), name = "CusZCSJ", style = "width:279px", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                        <div class="unit">
                            <label>
                                经营期限：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusJYKSSJ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CusJYKSSJ), name = "CusJYKSSJ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusJXJSSJ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CusJXJSSJ), name = "CusJXJSSJ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                经营范围：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.CusJXFW, new { name = "CusJXFW", style = "width:788px;height:30px;" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                开户行及行号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusKHH, new { name = "CusKHH", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                生产许可证编码：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusXKZBH, new { name = "CusXKZBH", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                银行帐号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusZH, new { name = "CusZH", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                生产地址：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.SCAddr, new { name = "SCAddr", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                生产许可证发证日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusFZRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CusFZRQ), name = "CusFZRQ", style = "width:279px", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                生产许可证有效期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusYXQKS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CusYXQKS), name = "CusYXQKS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusYXQJS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CusYXQJS), name = "CusYXQJS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                生产范围：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.CusSCFW, new { name = "CusSCFW", style = "width:788px;height:30px;" })
                        </div>
                    </div>

                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                经营许可证编码：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusJYXKZBH, new { name = "CusJYXKZBH", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                经营许可证经营场所：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusJYCS, new { name = "CusJYCS", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                经营许可证经营方式：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusJYFS, new { name = "CusJYFS", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                经营许可证库房地址：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusKFDZ, new { name = "CusKFDZ", style = "width:279px" })
                        </div>
                    </div>

                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                经营许可证发证日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZFZRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZFZRQ), name = "JYXKZFZRQ", style = "width:279px", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                经营许可证有效期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZYXQKS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZYXQKS), name = "JYXKZYXQKS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZYXQJS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZYXQJS), name = "JYXKZYXQJS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                经营许可证经营范围：
                            </label>
                            <select id="example_tem" name="AuditStatus" multiple="multiple" style="width: 300px">
                                @if (Model.JYFWList != null)
                                {
                                    foreach (var item in Model.JYFWList)
                                    {
                                        <option value="@item.FWBM  @item.FWMC">@item.FWBM  @item.FWMC</option>
                                        @*<option value="1" selected="selected">6801 基础外科手术器械</option>*@
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                经营许可证发证日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZFZRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZFZRQ), name = "JYXKZFZRQ", style = "width:279px", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                        <div class="unit">
                            <label>
                                经营备案凭证编号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusBAPZBH, new { name = "CusBAPZBH", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                备案经营场所：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusBAJYCS, new { name = "CusBAJYCS", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                经营许可证有效期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZYXQKS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZYXQKS), name = "JYXKZYXQKS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZYXQJS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZYXQJS), name = "JYXKZYXQJS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                        <div class="unit">
                            <label>
                                备案经营方式：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusBAJYFS, new { name = "CusBAJYFS", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                备案库房地址：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusBAJYFS, new { name = "CusBAJYFS", style = "width:279px" })
                        </div>
                        @*<div class="unit">
                                <label>
                                    身份证号：
                                </label>
                                @Html.TextBoxFor(m => m.DataModel.CusSFZH, new { name = "CusSFZH", style = "width:279px" })
                            </div>*@
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                备案经营范围：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.CusBAJYFW, new { name = "CusBAJYFW", style = "width:788px;height:30px;" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;display:inline-block;">
                        <div class="unit">
                            <label>
                                备案日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusBARQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CusBARQ), name = "CusBARQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                联系人：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusLXR, new { name = "CusLXR", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                联系方式：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CusLXDH, new { name = "CusLXDH", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                授权书有效期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.SQSKS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.SQSKS), name = "SQSKS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.SQSJS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.SQSJS), name = "SQSJS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <div style="float:left;width:89%;">
                                <label>
                                    资质扫描件：
                                </label>
                                @*<a id="aCusZZSC" href='@Model.ZZSCPath' target="_blank">@Model.DataModel.CusZZSC</a>
                                    @Html.TextBoxFor(m => m.DataModel.CusZZSC, new { id = "txtCusZZSC", name = "CusZZSC", style = "width:81.3%;display:none;" })*@
                            </div>
                            @if (Model.RoleCode == "1" || Model.DataModel.CusStatus != 1)
                            {
                                <div style="float:right;width:11%;">
                                    <span id="uploadify"></span>
                                </div>
                            }
                        </div>
                        <div class="unit">
                            <label>
                                备注：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.CusBZ, new { name = "CusBZ", style = "width:788px;height=120px" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>资质列表</legend>
                    <table width="100%" layouth="280" class="table">
                        <tbody id="wtlb">
                            @if (Model.CusQYZZList != null)
                            {
                                foreach (var item in Model.CusQYZZList)
                                {
                                    <tr target="sid_user">
                                        <td><a href="/UploadFiles/购货企业资质/@item.ZZFJ" target="_blank">@item.ZZFJ</a></td>
                                        @if (Model.RoleCode == "1" || Model.DataModel.CusStatus != 1)
                                        {
                                            <td><a href="javascript:void(0)" class="btnDel" onclick="deleteQYZZ(this);">删除</a></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <div class="formBar">
                <ul>
                    @if (Model.RoleCode == "2")
                    {
                        if (Model.DataModel.CusStatus != 1 && Model.DataModel.CusID != 0)
                        {
                            <li>
                                <div class="button">
                                    <div class="buttonContent">
                                        <button value="通过" onclick="through(1);">
                                            通过
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="button">
                                    <div class="buttonContent">
                                        <button value="不通过" onclick="through(2);">
                                            不通过
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    @{ if (Model.RoleCode == "1" || Model.DataModel.CusStatus != 1)
                        {
                            <li>
                                <div class="button" id="divSave">
                                    <div class="buttonContent">
                                        <button value="保存" onclick="Save();">
                                            保存
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                    <li>
                        <div class="button">
                            <div class="buttonContent">
                                <button value="取消" class="close">
                                    取消
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</body>
</html>
