@model MedicalApparatusManage.Models.T_RKDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <script type="text/javascript" language="javascript">
        $(function () {
            refreshRkmxGrid();
            $("#CKGLRY").chosen({
                search_contains: true
            });
        });
        function Save() {
            $.pdialog.closeCurrent();
            navTab.reload("/T_RKD/Index");
        };
        function SaveRkd() {
            var tempysd = $("#ysd").find("option:selected").val();
            if (!tempysd || tempysd == "") {
                alertMsg.error('请选择验收单！')
            }
            var elements = document.forms['formT_RKD'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_RKD/Save",
                    data: $("#formT_RKD").serializeArray(),
                    success: function (data) {
                        if (data.statusCode == "200") {
                            $("#lblRkd").text("保存成功，请填写采购明细！");
                            $("#lblRkmx").text("");
                            if ($("#Tag").val() == "Add") {
                                $("#RKID").val($("#RKDH").val());
                                $("#divSaveRkd").hide();
                            }
                        }
                    }
                });
            }
        };
        function SaveRkmx() {
            if ($("#RkidMain").val() != 0) {
                $("#RKID").val($("#RKDH").val());
            }
            if ($("#RKID").val() == 0 || $("#RKID").val() == "") {
                $("#lblRkmx").text("请先填写入库单！");
                return false;
            }
            if ($("#ckid").find("option:selected").text() == "请选择") {
                $("#lblRkmx").text("请选择库房！");
                return false;
            }
            if ($("#supId").find("option:selected").text() == "请选择") {
                $("#lblRkmx").text("请选择供货企业！");
                return false;
            }
            if ($("#YLCP").find("option:selected").text() == "请选择") {
                $("#lblRkmx").text("请选择产品！");
                return false;
            }
            var elements = document.forms['formT_RKMX'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_RKMX/Save",
                    data: $("#formT_RKMX").serializeArray(),
                    success: function (data) {
                        if (data.statusCode == "200") {
                            alertMsg.correct('保存成功！');
                            $("#guid").val(data.guid);
                            //刷新Grid
                            //AddRow();
                            refreshRkmxGrid();
                            //清空表单
                            RefreshForm();
                        } else {
                            //$("#lblCgdmx").text("保存失败！");
                            alertMsg.error('保存失败！')
                        }
                    }
                });
            }
        };
        function RefreshForm() {
            $('#formT_RKMX')[0].reset();
            $("#lblRkmx").text("");
        }
        function AddRow() {
            var tag = $("#guid").val();
            var cpgg = $("#cpgg").val();
            var cpnum = $("#cpnum").val();
            var cKName = $("#ckid").find("option:selected").text() == "请选择" ? "" : $("#ckid").find("option:selected").text();
            var cpName = $("#YLCP").find("option:selected").text() == "请选择" ? "" : $("#YLCP").find("option:selected").text();
            var bz = $("#bz").val();
            $str = '';
            $str += "<tr target='sid_user'>";
            $str += "<td><div>" + cKName + "</div></td>";
            $str += "<td><div>" + cpName + "</div></td>";
            $str += "<td><div>" + cpgg + "</div></td>";
            $str += "<td><div>" + cpnum + "</div></td>";
            $str += "<td><div><a href='javascript:void(0)' name='" + tag + "' class='btnDel' onclick='deleteRKMX(this);'>删除</a></div></td>";
            $str += "</tr>";
            $("#wtlb").append($str);
        }
        function deleteRKMX(obj) {
            deleteCurrentRow(obj);
            var guid1 = obj.getAttribute("name");
            $.post("/T_RKMX/Delete", { Guid: guid1 }, function (data) {
                if (data.statusCode == "200") {
                    alertMsg.correct('删除成功！');
                } else {
                    alertMsg.error('删除失败！');
                }
            }, "json");
        }
        function deleteCurrentRow(obj) {
            var tr = obj.parentNode.parentNode.parentNode;
            var tbody = tr.parentNode;
            tbody.removeChild(tr);
        };
        function dropQyChange(id) {
            if (id != "" && id != "请选择") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_YLCP/GetCpByQy",
                    data: { id: id },
                    success: function (json) {
                        if (!json) return;
                        var html = '';
                        $.each(json, function (i) {
                            if (json[i] && json[i].length > 1) {
                                html += '<option value="' + json[i][0] + '">' + json[i][1] + '</option>';
                            }
                        });
                        var $ref = $("#YLCP");
                        var $refCombox = $ref.parents("div.combox:first");
                        $ref.html(html).insertAfter($refCombox);
                        $refCombox.remove();
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
        };
        function dropChange(id) {
            if (id != "") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_YSD/GetYLCPDetailsByMXID",
                    data: { mxid: id },
                    success: function (json) {
                        var tes = eval("(" + json + ")");
                        $("#supcpId").val(tes.CPID);
                        $("#cpbh").val(tes.CPBH);
                        $("#cpscqyid").val(tes.SCQYID);
                        $("#cpscqyName").val(tes.SCQYMC);
                        $("#supqyId").val(tes.SUPQYID);
                        $("#supqyName").val(tes.SUPQYMC);
                        $("#cpmc").val(tes.CPMC);
                        $("#cpdw").val(tes.CPDW);
                        $("#cpxkzh").val(tes.XKZH);
                        $("#cpzczh").val(tes.ZCZH);
                        $("#cpxh").val(tes.CPXH);
                        $("#cpgg").val(tes.CPGG);
                        $("#cctj").val(tes.CCTJ);

                        $("#cpnum").val(tes.CPNUM);
                        $("#cpph").val(tes.CPPH);
                        $("#CPSCRQ").val(tes.SCRQ);
                        $("#CPYXQ").val(tes.YQX);
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
        };
        function dropCkChange(id) {
            if (id != "") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CK/GetCK",
                    data: { ckid: id },
                    success: function (json) {
                        var tes = eval("(" + json + ")");
                        $("#kg").val(tes.CKGLY);
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
        };
        function tqYsd() {
            var ysdh = $("#ysd").find("option:selected").val();
            if (ysdh == "") {
                alertMsg.error('请选择验收单！');
                return false;
            }
            $("#ysmxRkPageBox").loadUrl("/T_YSD/YSMXTable", { id: 0, ysdh: ysdh, canEdit: 0 });
        };
        function tqYsdNew() {
            var ysdh = $("#ysd").val();
            if (ysdh == "") {
                return;
            }
            $("#ysmxRkPageBox").loadUrl("/T_YSD/YSMXTable", { id: 0, ysdh: ysdh, canEdit: 0 });
        };

        function refreshRkmxGrid() {
            var tempIsSH = $("#hdISSH").val();
            if (tempIsSH == null || tempIsSH == "")
                tempIsSH = 0;
            $("#rkmxRkPageBox").loadUrl("/T_RKMX/RKMXTable", {
                id: 0, rkdh: $("#RKDH").val(), canEdit: tempIsSH
            });
        };
        function bindMX(mxId) {
            dropChange(mxId);
        }
        function through(type) {
            var elements = document.forms['formT_RKD'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_RKD/through/" + type,
                    data: $("#formT_RKD").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };
    </script>
</head>
<body>
    <div class="pageContent">
        <div class="pageFormContent" layouth="58">
            <fieldset>
                <legend>入库单</legend>
                <form id="formT_RKD" method="post" onsubmit="return false;" class="pageForm required-validate-noalert" style="overflow: visible;">
                    @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                    @Html.HiddenFor(m => m.DataModel.RKID, new { ID = "RkidMain", Name = "DataModel.RKID" })
                    @Html.HiddenFor(m => m.DataModel.RKCJR, new { Name = "DataModel.RKCJR" })
                    @Html.HiddenFor(m => m.DataModel.RKCJRQ, new { Name = "DataModel.RKCJRQ" })
                    <input type="hidden" id="hdISSH" value="@Model.DataModel.ISSH" />
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                验收单号：
                            </label>
                            @if (Model.DataModel.RKID == 0)
                            {
                                @Html.DropDownListFor(m => m.DataModel.YSDH, ViewData["YSD"] as SelectList, new { ID = "ysd", style = "width:285px" })
                                if (Model.DataModel.ISSH != 1)
                                {
                                    <button value="提取" onclick="tqYsd();">
                                        提取
                                    </button>
                                }
                            }
                            else
                            {
                                @Html.TextBoxFor(m => m.DataModel.YSDH, new { id = "ysd", name = "YSDH", style = "width:279px", ReadOnly = true })
                                if (Model.DataModel.ISSH != 1)
                                {
                                    <button value="提取" onclick="tqYsdNew();">
                                        提取
                                    </button>
                                }
                            }
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                验收单完结：
                            </label>
                            @{
                                List<SelectListItem> ysdList = new List<SelectListItem>();
                                ysdList.Add(new SelectListItem { Text = "未完结", Value = "0" });
                                ysdList.Add(new SelectListItem { Text = "已完结", Value = "1" });
                                @Html.DropDownListFor(m => m.DataModel.IsFinish, ysdList, new { name = "IsFinish", style = "width:285px", Value = Model.DataModel.IsFinish })
                            }
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                入库单号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.RKDH, new { id = "RKDH", name = "RKDH", style = "width:279px", ReadOnly = true })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                入库人：
                            </label>
                            @Html.DropDownListFor(m => m.DataModel.CKGLRY, ViewBag.Persons as SelectList, "请选择", new { id = "CKGLRY", style = "width:285px" })
                            @*@Html.TextBoxFor(m => m.DataModel.CKGLRY, new { name = "RKMC", style = "width:279px" })*@
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                入库日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JSRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JSRQ), name = "JSRQ", @class = "Wdate required", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:279px", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                备注：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.RKBZ, new { name = "RKBZ", style = "width:78.5%;" })
                        </div>
                    </div>
                </form>
                <div style="width:91%;border:1px solid #ffffff;margin:5px;">
                    <div><label id="lblRkd" style="width:50%;color:red;"></label></div>
                    @if (Model.DataModel.ISSH != 1)
                    {
                        <div class="button" id="divSaveRkd" style="float:right;">
                            <div class="buttonContent">
                                <button id="btnRkd" value="保存入库单" onclick="SaveRkd();">
                                    保存入库单
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
            <fieldset>
                <legend>验收明细</legend>
                <div id="ysmxRkPageBox" class="unitBox">
                </div>
            </fieldset>
            <fieldset>
                <legend>入库明细</legend>
                <form id="formT_RKMX" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
                    @Html.HiddenFor(m => m.Tag, new { Value = "Add", Name = "Tag" })
                    @Html.HiddenFor(m => m.T_RKMXModel.MXID, new { Name = "DataModel.MXID" })
                    @Html.HiddenFor(m => m.T_RKMXModel.SupID, new { ID = "supqyId", Name = "DataModel.SupID" })
                    @Html.HiddenFor(m => m.T_RKMXModel.ScqyID, new { ID = "cpscqyid", Name = "DataModel.ScqyID" })
                    @Html.HiddenFor(m => m.T_RKMXModel.CPID, new { ID = "supcpId", Name = "DataModel.CPID" })
                    <input type="hidden" id="RKID" name="RKDH">
                    <input type="hidden" id="guid">
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                产品编号：
                            </label>
                            <input type="text" name="" id="cpbh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品名称：
                            </label>
                            <input type="text" id="cpmc" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                包装单位：
                            </label>
                            <input type="text" name="" id="cpdw" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品数量：
                            </label>
                            @Html.TextBox("DataModel.CPNUM", "", new { id = "cpnum", style = "width:279px", @class = "required digits" })
                        </div>
                        <div class="unit">
                            <label>
                                产品批号：
                            </label>
                            @Html.TextBox("DataModel.CPPH", "", new { id = "cpph", style = "width:279px", @readonly = "readonly" })
                        </div>
                        <div class="unit">
                            <label>
                                生产日期：
                            </label>
                            @*@Html.TextBox("DataModel.CPSCRQ", "", new { id = "CPSCRQ", @class = "Wdate required", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:279px", @readonly="readonly"  })*@
                            @Html.TextBox("DataModel.CPSCRQ", "", new { id = "CPSCRQ", style = "width:279px", @readonly = "readonly" })
                        </div>
                        <div class="unit">
                            <label>
                                入库库房：
                            </label>
                            <select id="ckid" name="DataModel.CKID" style="width:285px" onchange="dropCkChange(this.value)" class="required">
                                <option>请选择</option>
                                @{foreach (var item in ViewData["CK"] as SelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }}
                            </select>
                        </div>
                        @*<div class="unit">
                                <label>
                                    产品规格：
                                </label>
                                <input type="text" name="" id="cpgg" style="width:279px" readonly="readonly" value="" />
                            </div>
                            <div class="unit">
                                <label>
                                    产品型号：
                                </label>
                                <input type="text" name="" id="cpxh" style="width:279px" readonly="readonly" value="" />
                            </div>*@
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                供货企业：
                            </label>
                            <input type="text" name="" id="supqyName" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                生产企业：
                            </label>
                            <input type="text" name="" id="cpscqyName" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                生产许可证号：
                            </label>
                            <input type="text" name="" id="cpxkzh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品注册证号：
                            </label>
                            <input type="text" name="" id="cpzczh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                储存条件：
                            </label>
                            <input type="text" name="" id="cctj" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                有效期：
                            </label>
                            @*@Html.TextBox("DataModel.CPYXQ", "", new { id = "CPYXQ", @class = "Wdate required", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:279px", @readonly = "readonly" })*@
                            @Html.TextBox("DataModel.CPYXQ", "", new { id = "CPYXQ", style = "width:279px", @readonly = "readonly" })
                        </div>
                        @*<div class="unit">
                                <label>
                                    是否合格：
                                </label>
                                @{
                                    List<SelectListItem> isshList = new List<SelectListItem>();
                                    isshList.Add(new SelectListItem { Text = "是", Value = "1" });
                                    isshList.Add(new SelectListItem { Text = "否", Value = "0" });
                                    @Html.DropDownList("DataModel.ISHG", isshList, new { style = "width:285px" })
                                }
                            </div>
                            <div class="unit">
                                <label>
                                    是否收货：
                                </label>
                                @{
                                    List<SelectListItem> ishgList = new List<SelectListItem>();
                                    ishgList.Add(new SelectListItem { Text = "是", Value = "1" });
                                    ishgList.Add(new SelectListItem { Text = "否", Value = "0" });
                                    @Html.DropDownList("DataModel.ISSHHUO", ishgList, new { style = "width:285px" })
                                }
                            </div>*@
                        <div class="unit">
                            <label>
                                库管：
                            </label>
                            <input type="text" name="" id="kg" style="width:279px" readonly="readonly" value="" />
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                    </div>
                </form>
                <div style="width:91%;border:1px solid #ffffff;margin:5px;">
                    <div><label id="lblRkmx" style="width:50%;color:red;"></label></div>
                    @if (Model.DataModel.ISSH != 1)
                    {
                        <div class="button" id="divSaveRkMx" style="float:right;">
                            <div class="buttonContent">
                                <button value="保存明细" onclick="SaveRkmx();">
                                    保存明细
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
            <fieldset>
                <div id="rkmxRkPageBox" class="unitBox">
                </div>
            </fieldset>
        </div>
        <div class="formBar">
            <ul>
                @{if (Model.RoleCode == "2")
                    {
                        if (Model.DataModel.ISSH != 1 && Model.DataModel.RKID != 0)
                        {
                            <li>
                                <div class="button">
                                    <div class="buttonContent">
                                        <button value="通过" onclick="through(1);">
                                            通过
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="button">
                                    <div class="buttonContent">
                                        <button value="不通过" onclick="through(2);">
                                            不通过
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    }}
                <li>
                    <div class="button" id="divSave">
                        <div class="buttonContent">
                            <button value="关闭" onclick="Save();">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
