@model MedicalApparatusManage.Models.T_SupPersonModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>人员</title>
</head>
<body>
    <div id="pageContent">
        <div class="pageHeader" style="hight: 80px;">
            @using (Html.BeginForm("Index", "T_SupPerson", FormMethod.Post, new
            {
                name = "formSerachMA",
                id = "formSerachMA",
                onsubmit = "return navTabSearch(this);"

            }))
            {
                <div class="searchBar">
                    <table class="searchContent">
                        <tr>
                            <td>
                                姓名:
                            </td>
                            <td>
                                @Html.TextBox("strName")
                            </td>
                            <td>
                                身份证号:
                            </td>
                            <td>
                                @Html.TextBox("strCode")
                            </td>

                            <td>
                                <ul>
                                    <li>
                                        <div class="buttonActive">
                                            <div class="buttonContent">
                                                <button type="submit" id="Button1" name="btnSerachOl">
                                                    检索
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
                                    }
        </div>
        <div class="panelBar" id="EntLimitMenu">
            <ul class="toolBar">
                <li><a class="add" href="/T_SupPerson/Save/0/Add" target="dialog"  mask="true" title="新增" width="1050" height="500"><span>新增</span></a></li>
                <li> <a class="edit" href="/T_SupPerson/Save/{sid_user}/Edit" target="dialog" mask="true" title="修改" width="1050" height="500"><span>修改</span></a></li>
                <li><a class="delete" href="/T_SupPerson/Delete/{sid_user}" target="ajaxTodo" title="确定删除吗?" mask="true"><span>删除</span></a></li>
                <li><a class="icon" href="/T_SupPerson/Save/{sid_user}/Details" target="dialog"  mask="true" width="1050" height="500"><span>查看详情</span></a></li>
            </ul>
        </div>
        <table width="100%" layouth="112" class="table" id="T_SupPersonTable">
           <thead>
                <tr>
                    <th>
                        姓名
                    </th>
                    <th>
                        性别
                    </th>
                    <th>
                        身份证号
                    </th>
                    <th>
                        出生日期
                    </th>
                    <th>
                        专业
                    </th>
                    <th>
                        学历
                    </th>
                    <th>
                        身份证扫描件
                    </th>
                    <th>
                        职称附件
                    </th>
                    <th>
                        企业名称
                    </th>
                    <th>
                        备注
                    </th>
                    <th>
                        是否在职
                    </th>
                    <th>
                        联系电话
                    </th>
                    <th>
                        职务
                    </th>
                    <th>
                        地址
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataList)
                {
                    <tr target="sid_user" rel="@item.PsID">
                        <td>@item.PsMZ</td>
                        <td>@item.PsXB</td>
                        <td>@item.PsSFZ</td>
                        <td>@item.PsCSRQ</td>
                        <td>@item.PsZY</td>
                        <td>@item.PsXL</td>
                        <td><a href="~/UploadFiles/供货者身份证扫描件/@item.PsSFZSM" target="_blank">@item.PsSFZSM</a></td>
                        <td><a href="~/UploadFiles/供货者职称附件/@item.PsZZFJ" target="_blank">@item.PsZZFJ</a></td>
                        @if (@item.T_SupQY == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@item.T_SupQY.SupMC</td>
                        }
                        
                        <td>@item.PsBZ</td>
                        @if (@item.PsISZZ == 0)
                        {
                        <td>否</td>
                        }
                        else if (@item.PsISZZ == 1)
                        {
                        <td>是</td>
                        }
                        else
                        {
                            <td>否</td> 
                        }
                        
                        <td>@item.PsLXDH</td>
                        <td>@item.PsZW</td>
                        <td>@item.PsDZ</td>
                    </tr>
                }
            </tbody>
        </table>
        <form id="pagerForm" method="post" onsubmit="return navTabSearch(this);">
            <input type="hidden" name="pageNum" id="pageNum" />
            @Html.HiddenFor(m => m.pageSize, new { name = "numPerPage", id = "numPerPage" })
            <input type="hidden" name="totalCount" id="totalCount" />
            @Html.HiddenFor(m => m.SortCol, new { name = "SortCol_OP", id = "SortCol_OP" })
            @Html.HiddenFor(m => m.SortKey, new { name = "SortKey_OP", id = "SortKey_OP" })
            @Html.HiddenFor(m => m.StartTime, new { name = "StartTime" })
            @Html.HiddenFor(m => m.EndTime, new { name = "EndTime" })
            <input type="hidden" name="orderField" value="${param.orderField}" />
            <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        </form>
        <div class="panelBar">
            <div class="pages">
                <span style="width: 35px;">显示</span>
                @{
                    string[] sL = { "10", "20", "30", "50", "100", "500", "1000", "5000" };
                    List<SelectListItem>
                                list = new List<SelectListItem>
                                    ();
                    foreach (string s in sL)
                    {
                        list.Add(new SelectListItem { Text = s, Value = s });
                    }
                    @Html.DropDownListFor(m => m.pageSize, list, new { name = "numPerPage", id = "numPerPage", onchange = "navTabPageBreak({numPerPage:this.value});" });
                    <span>
                        条，共<label>@Model.resultCount</label>
                        条
                    </span>

                }
            </div>
            <div class="pagination" targettype="navTab" totalcount="@Model.resultCount"
                 numperpage="@Model.pageSize" pagenumshown="@Model.pagecount"
                 currentpage="@Model.currentPage">
            </div>
        </div>
    </div>
</body>
</html>


