@model MedicalApparatusManage.Models.T_THDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <script type="text/javascript" language="javascript">
        $(function () {
            refreshYsmxGrid();
            $("#supId", $("#formT_THD")).chosen({
                search_contains: true
            });
            $("#YLCPName", $("#formT_THD")).chosen({
                search_contains: true
            });
            $("#thSQR", $("#formT_THD")).chosen({
                search_contains: true
            });
            $("#thSHR", $("#formT_THD")).chosen({
                search_contains: true
            });
            $('#supId').on('change', function (e, params) {
                var id = params ? params.selected : "";
                dropQyChange(id);
            });
            $('#YLCPName').on('change', function (e, params) {
                changeYSD();
            });
        });
        function tqYsd() {
            var ysdh = $("#thysd").find("option:selected").text();
            if (ysdh == "") {
                alertMsg.error('请选择验收单！');
                return false;
            }
            $("#ysmxRkPageBox").loadUrl("/T_YSD/YSMXTable", { id: 0, ysdh: ysdh, canEdit: 0 });
        };
        function tqYsdNew() {
            var ysdh = $("#thysd").val();
            if (ysdh == "") {
                return;
            }
            $("#ysmxRkPageBox").loadUrl("/T_YSD/YSMXTable", { id: 0, ysdh: ysdh, canEdit: 0 });
        };
        function Savethd() {
            if ($("#thysd").find("option:selected").val() == "") {
                alertMsg.error('请选择验收单！')
            }
            var elements = document.forms['formT_THD'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_THD/Save",
                    data: $("#formT_THD").serializeArray(),
                    success: function (data) {
                        if (data.statusCode == "200") {
                            $("#lblthd").text("保存成功，请填写退货明细！");
                            $("#lblthmx").text("");
                            if ($("#Tag").val() == "Add") {
                                $("#mxTHDH").val($("#THDH").val());
                                $("#divSavethd").hide();
                            }
                        }
                    }
                });
            }
        };
        function dropQyChange(id) {
            if (id != "" && id != "请选择") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_YLCP/GetCpByQy",
                    data: { id: id },
                    success: function (json) {
                        if (!json) return;
                        var html = '';
                        $.each(json, function (i) {
                            if (json[i] && json[i].length > 1) {
                                html += '<option value="' + json[i][0] + '">' + json[i][1] + '</option>';
                            }
                        });
                        $("#YLCPName").empty();
                        $("#YLCPName").append(html);
                        $("#YLCPName").trigger("chosen:updated");
                        $("#YLCPName").trigger("change");
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
            else {
                var html = '<option>请选择</option>';
                $("#YLCPName").empty();
                $("#YLCPName").append(html);
                $("#YLCPName").trigger("chosen:updated");
                $("#YLCPName").trigger("change");
            }
        };
        function changeYSD() {
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/T_YSD/GetYSDH",
                data: {
                    hflag: $("#ysflag").val(),
                    cpId: $("#YLCPName").val(),
                    supId: $("#supId").val(),
                    cpph: $("#thcpph").val()
                },
                success: function (data) {
                    var json = eval("(" + data + ")");
                    if (!json) return;
                    var html = '';
                    $.each(json, function (i) {
                        if (json[i] && json[i].length > 1) {
                            html += '<option value="' + json[i][0] + '">' + json[i][1] + '</option>';
                        }
                    });
                    $("#thysd").empty();
                    $("#thysd").append(html);
                },
                error: function () {
                    alertMsg.error('发生错误！');
                }
            });
        }
        function through(type) {
            var elements = document.forms['formT_THD'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_THD/through/" + type,
                    data: $("#formT_THD").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };
        function Save() {
            $.pdialog.closeCurrent();
            navTab.reload("/T_THD/Index");
        };
        function SaveTHmx() {
            if ($("#mainthid").val() != 0) {
                $("#mxTHDH").val($("#THDH").val());
            }
            if ($("#mxTHDH").val() == 0 || $("#mxTHDH").val() == "") {
                $("#lblthmx").text("请先填写退货单！");
                return false;
            }
            if ($("#cpmc").val() == "") {
                $("#lblthmx").text("请选择产品！");
                return false;
            }
            if ($("#ckid").find("option:selected").text() == "请选择") {
                $("#lblthmx").text("请选择库房！");
                return false;
            }
            if (parseFloat($("#kcnum").val()) < parseFloat($("#cpnum").val())) {
                $("#lblthmx").text("退货数量超出库存数量，无法退货");
                return false;
            }
            var elements = document.forms['formT_THDMX'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_THMX/Save",
                    data: $("#formT_THDMX").serializeArray(),
                    success: function (data) {
                        if (data.statusCode == "200") {
                            alertMsg.correct('保存成功！');
                            RefreshForm();
                            refreshYsmxGrid();
                        } else {
                            alertMsg.error('保存失败！')
                        }
                    }
                });
            }
        };
        function RefreshForm() {
            $('#formT_THDMX')[0].reset();
            $("#lblthmx").text("");
        }
        function bindMX(mxId) {
            dropChange(mxId);
        }
        function dropChange(id) {
            if (id != "") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_YSD/GetYLCPDetailsByMXID",
                    data: { mxid: id },
                    success: function (json) {
                        var tes = eval("(" + json + ")");
                        $("#supcpId").val(tes.CPID);
                        $("#cpbh").val(tes.CPBH);
                        $("#cpscqyName").val(tes.SCQYMC);
                        $("#supqyName").val(tes.SUPQYMC);
                        $("#cpmc").val(tes.CPMC);
                        $("#cpdw").val(tes.CPDW);
                        $("#cpxkzh").val(tes.XKZH);
                        $("#cpzczh").val(tes.ZCZH);
                        $("#cpxh").val(tes.CPXH);
                        $("#cpgg").val(tes.CPGG);
                        $("#cctj").val(tes.CCTJ);
                        $("#cpnum").val(tes.CPNUM);
                        $("#cpph").val(tes.CPPH);
                        $("#CPSCRQ").val(tes.SCRQ);
                        $("#CPYXQ").val(tes.YQX);
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
        };
        function dropCkChange(id) {
            if (id != "") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_KC/GetKCInfo",
                    data: {
                        ckid: id, cpid: $("#supcpId").val(), cpph: $("#cpph").val()
                    },
                    success: function (json) {
                        if (json && json != "") {
                            var tes = eval("(" + json + ")");
                            $("#kg").val(tes.CKGLY);
                            $("#kcnum").val(tes.KCNUM);
                        }
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
        };
        function refreshYsmxGrid() {
            var tempIsSH = $("#ISSH").val();
            if (tempIsSH == null || tempIsSH == "")
                tempIsSH = 0;
            $("#thmxBox").loadUrl("/T_THD/THMXTable", {
                id: $("#mainthid").val(), thdh: $("#THDH").val(), canEdit: 1, isSH: tempIsSH
            });
        };
    </script>
</head>
<body>
    <div class="pageContent">
        <div class="pageFormContent" layouth="58">
            <fieldset>
                <form id="formT_THD" method="post" onsubmit="return false;" class="pageForm required-validate-noalert" style="overflow: visible;">
                    @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                    @Html.HiddenFor(m => m.DataModel.THID, new { Name = "DataModel.THID", id = "mainthid" })
                    @Html.HiddenFor(m => m.DataModel.THCJR, new { Name = "DataModel.THCJR" })
                    @Html.HiddenFor(m => m.DataModel.THCJRQ, new { Name = "DataModel.THCJRQ" })
                    @Html.HiddenFor(m => m.DataModel.ISSH, new { Name = "DataModel.ISSH", id = "ISSH" })
                    @if (Model.DataModel.THID == 0)
                    {
                        <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                            <div class="unit">
                                <label>
                                    验收结果：
                                </label>
                                <select style="width:265px;" onchange="changeYSD();" id="ysflag">
                                    <option value="">请选择</option>
                                    <option value="合格收货">合格收货</option>
                                    <option value="不合格">不合格</option>
                                </select>
                            </div>
                            <div class="unit">
                                <label>
                                    供货企业：
                                </label>
                                <select id="supId" style="width:265px">
                                    <option>请选择</option>
                                    @{foreach (var item in ViewData["SupID"] as SelectList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }}
                                </select>
                            </div>
                            <div class="unit">
                                <label>
                                    产品名称：
                                </label>
                                <select id="YLCPName" style="width:265px">
                                    <option>请选择</option>
                                </select>
                            </div>
                            <div class="unit">
                                <label>
                                    产品批号：
                                </label>
                                <input type="text" name="" id="thcpph" style="width:260px" value="" onblur="changeYSD();" />
                            </div>
                        </div>
                        <div style="width:96%;border:1px solid #ffffff;margin-left:5px;float:left;">
                            <div class="unit">
                                <label>
                                    验收单号：
                                </label>
                                @Html.DropDownListFor(m => m.DataModel.YSID, ViewData["YSD"] as SelectList, "请选择", new { style = "width:265px", id = "thysd" })
                                @if (Model.DataModel.ISSH != 1)
                                {
                                    <button value="提取" onclick="tqYsd();">
                                        提取
                                    </button>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div style="width:96%;border:1px solid #ffffff;margin-left:5px;float:left;">
                            <div class="unit">
                                <label>
                                    验收单号：
                                </label>
                                @Html.TextBox("YSDH", Model.YSDH, new { style = "width:260px", ReadOnly = true, ID = "thysd" })
                                @if (Model.DataModel.ISSH != 1)
                                {
                                    <button value="提取" onclick="tqYsdNew();">
                                        提取
                                    </button>
                                }
                            </div>
                        </div>
                    }
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;margin-top:0px;">
                        <div class="unit">
                            <label>
                                验收单完结：
                            </label>
                            @{
                                List<SelectListItem> thysdList = new List<SelectListItem>();
                                thysdList.Add(new SelectListItem { Text = "未完结", Value = "0" });
                                thysdList.Add(new SelectListItem { Text = "已完结", Value = "1" });
                                @Html.DropDownListFor(m => m.DataModel.IsFinish, thysdList, new { name = "IsFinish", style = "width:265px", Value = Model.DataModel.IsFinish })
                            }
                        </div>
                        <div class="unit">
                            <label>
                                退货单名称：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.THMC, new { name = "SMC", style = "width:260px", @class = "required" })
                        </div>
                        <div class="unit">
                            <label>
                                退货单号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.THDH, new { id = "THDH", name = "THDH", style = "width:260px", ReadOnly = true })
                        </div>
                        <div class="unit">
                            <label>
                                退货类型：
                            </label>
                            @*<select style="width:265px;" id="RKFlag" name="DataModel.RKFlag">
                                    <option value="0">入库前退货</option>
                                    <option value="1">入库后退货</option>
                                </select>*@
                            @{
                                List<SelectListItem> thtypeList = new List<SelectListItem>();
                                thtypeList.Add(new SelectListItem { Text = "入库前退货", Value = "0" });
                                thtypeList.Add(new SelectListItem { Text = "入库后退货", Value = "1" });
                                @Html.DropDownListFor(m => m.DataModel.RKFlag, thtypeList, new { name = "RKFlag", style = "width:265px", Value = Model.DataModel.RKFlag })
                            }
                        </div>
                        <div class="unit">
                            <label>
                                申请人：
                            </label>
                            @Html.DropDownListFor(m => m.DataModel.SQR, ViewBag.Persons as SelectList, "请选择", new { id = "thSQR", name = "SQR", style = "width:265px" })
                        </div>
                        <div class="unit">
                            <label>
                                申请日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.SQRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.SQRQ), name = "SQRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:260px" })
                        </div>
                        <div class="unit">
                            <label>
                                退货原因：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.THYY, new { name = "THYY", style = "width:260px", @class = "required" })
                        </div>
                        @*<div class="unit">
                                <label>
                                    审核人：
                                </label>
                                @Html.DropDownListFor(m => m.DataModel.SHR, ViewBag.Persons as SelectList, "请选择", new { id = "thSHR", name = "SHR", style = "width:265px" })
                            </div>
                            <div class="unit">
                                <label>
                                    审核日期：
                                </label>
                                @Html.TextBoxFor(m => m.DataModel.SHRQ, new { name = "SHRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:260px" })
                            </div>
                            <div class="unit">
                                <label>
                                    审核意见：
                                </label>
                                @Html.TextBoxFor(m => m.DataModel.SHYJ, new { name = "SHYJ", style = "width:260px" })
                            </div>*@
                        <div class="unit">
                            <label>
                                备注：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.BZ, new { name = "BZ", style = "width:260px;height:120" })
                        </div>
                    </div>
                </form>
                <div style="width:91%;border:1px solid #ffffff;margin:5px;">
                    <div><label id="lblthd" style="width:50%;color:red;"></label></div>
                    @if (Model.DataModel.ISSH != 1)
                    {
                        <div class="button" id="divSavethd" style="float:right;">
                            <div class="buttonContent">
                                <button id="btnthd" value="保存退货单" onclick="Savethd();">
                                    保存退货单
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
            <fieldset>
                <legend>验收明细</legend>
                <div id="ysmxRkPageBox" class="unitBox">
                </div>
            </fieldset>
            <fieldset>
                <legend>退货明细</legend>
                <form id="formT_THDMX" method="post" onsubmit="return false;" class="pageForm required-validate-noalert" style="overflow: visible;">
                    @Html.HiddenFor(m => m.Tag, new { Value = "Add", Name = "Tag" })
                    @Html.HiddenFor(m => m.T_THMXModel.MXID, new { Name = "DataModel.MXID" })
                    @Html.HiddenFor(m => m.T_THMXModel.CPID, new { ID = "supcpId", Name = "DataModel.CPID" })
                    <input type="hidden" id="mxTHDH" name="THDH">
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                产品编号：
                            </label>
                            <input type="text" name="" id="cpbh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品名称：
                            </label>
                            <input type="text" id="cpmc" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                包装单位：
                            </label>
                            <input type="text" name="" id="cpdw" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品数量：
                            </label>
                            @Html.TextBox("DataModel.CPNUM", "", new { id = "cpnum", style = "width:279px", @class = "required digits" })
                        </div>
                        <div class="unit">
                            <label>
                                产品批号：
                            </label>
                            <input type="text" name="DataModel.CPPH" id="cpph" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                生产日期：
                            </label>
                            <input type="text" name="DataModel.CPSCRQ" id="CPSCRQ" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                库房：
                            </label>
                            <select id="ckid" name="DataModel.CKID" style="width:285px" onchange="dropCkChange(this.value)" class="required">
                                <option>请选择</option>
                                @{foreach (var item in ViewData["CK"] as SelectList)
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }}
                            </select>
                        </div>
                        <div class="unit">
                            <label>
                                库存数量：
                            </label>
                            <input type="text" name="" id="kcnum" style="width:279px" readonly="readonly" value="" />
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                供货企业：
                            </label>
                            <input type="text" name="" id="supqyName" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                生产企业：
                            </label>
                            <input type="text" name="" id="cpscqyName" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                生产许可证号：
                            </label>
                            <input type="text" name="" id="cpxkzh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品注册证号：
                            </label>
                            <input type="text" name="" id="cpzczh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                储存条件：
                            </label>
                            <input type="text" name="" id="cctj" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                有效期：
                            </label>
                            <input type="text" name="DataModel.CPYXQ" id="CPYXQ" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                库管：
                            </label>
                            <input type="text" name="" id="kg" style="width:279px" readonly="readonly" value="" />
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                    </div>
                </form>
                <div style="width:91%;border:1px solid #ffffff;margin:5px;">
                    <div><label id="lblthmx" style="width:50%;color:red;"></label></div>
                    @if (Model.DataModel.ISSH != 1)
                    {
                        <div class="button" id="divSaveTHdMx" style="float:right;">
                            <div class="buttonContent">
                                <button value="保存明细" onclick="SaveTHmx();">
                                    保存明细
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </fieldset>
            <fieldset>
                <div id="thmxBox" class="unitBox">
                </div>
            </fieldset>
        </div>
        <div class="formBar">
            <ul>
                @{if (Model.RoleCode == "2")
                    {
                        if (Model.DataModel.ISSH != 1 && Model.DataModel.THID != 0)
                        {
                            <li>
                                <div class="button">
                                    <div class="buttonContent">
                                        <button value="通过" onclick="through(1);">
                                            通过
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="button">
                                    <div class="buttonContent">
                                        <button value="不通过" onclick="through(2);">
                                            不通过
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    }}
                <li>
                    <div class="button" id="divSave">
                        <div class="buttonContent">
                            <button value="关闭" onclick="Save();">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>

