@model MedicalApparatusManage.Models.T_THDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <script type="text/javascript" language="javascript">
        $(function () {
            var tag = $("#Tag").val();
            if (tag == "Details") {
                $("form input").prop("readonly", true);
                $("#divSave").hide();
            }
        });
        function Save() {
            var elements = document.forms['formT_THD'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_THD/Save",
                    data: $("#formT_THD").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };
    </script>
</head>
<body>
    <div class="pageContent">
        <form id="formT_THD" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
            <div class="pageFormContent" layouth="58">
                @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                @Html.HiddenFor(m=>m.DataModel.THID,new { Name = "DataModel.THID" })
                <div class="unit">
                    <label>
                        退货名称：
                    </label>
                    @Html.TextBoxFor(m => m.DataModel.THMC, new { name = "SMC", style = "width:260px" })
                </div>
            <div class="unit">
                <label>
                    申请人：</label>
                @Html.TextBoxFor(m => m.DataModel.SQR, new {name = "SQR",style = "width:260px" })
            </div>
            <div class="unit">
                <label>
                    申请日期：</label>
                @Html.TextBoxFor(m => m.DataModel.SQRQ, new { name = "SQRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:260px" })
            </div>
            <div class="unit">
                <label>
                    退货客户名称：</label>
                @Html.DropDownListFor(m => m.DataModel.THQYID, ViewData["CusQY"] as SelectList, "请选择", new { style = "width:270px" })
            </div>
            <div class="unit">
                <label>
                    退货原因：</label>
                @Html.TextBoxFor(m => m.DataModel.THYY, new { name = "THYY", style = "width:260px" })
            </div>
                <div class="unit">
                    <label>
                        销售单：
                    </label>
                    @Html.DropDownListFor(m => m.DataModel.XSID, ViewData["XSD"] as SelectList, "请选择", new { style = "width:270px" })
                </div>
            <div class="unit">
                <label>
                    审核人：</label>
                @Html.TextBoxFor(m => m.DataModel.SHR, new { name = "SHR", style = "width:260px" })
            </div>
            <div class="unit">
                <label>
                    审核日期：</label>
                @Html.TextBoxFor(m => m.DataModel.SHRQ, new { name = "SHRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:260px" })
            </div>
            <div class="unit">
                <label>
                    审核意见：</label>
                @Html.TextBoxFor(m => m.DataModel.SHYJ, new { name = "SHYJ", style = "width:260px" })
            </div>
            @*<div class="unit">
                <label>
                    标识：</label>
                @Html.TextBoxFor(m => m.DataModel.FLAG, new { name = "FLAG", style = "width:260px" })
            </div>*@
            <div class="unit">
                <label>
                    备注：</label>
                @Html.TextAreaFor(m => m.DataModel.BZ, new { name = "BZ", style = "width:260px;height:120" })
            </div>
            </div>
            <div class="formBar">
                <ul>
                    <li>
                        <div class="button" id="divSave">
                            <div class="buttonContent">
                                <button value="保存" onclick="Save();">
                                    保存
                                </button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="button">
                            <div class="buttonContent">
                                <button value="取消" class="close">
                                    取消
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</body>
</html>

