@model MedicalApparatusManage.Models.T_BJDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <script type="text/javascript" language="javascript">
        $(function () {
            var tag = $("#Tag").val();
            if (tag == "Details") {
                $("form input").prop("readonly", true);
                $("#divSave").hide();
            }
        });
        function Save() {
            var elements = document.forms['formT_BJD'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_BJD/Save",
                    data: $("#formT_BJD").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };
    </script>
</head>
<body>
    <div class="pageContent">
        <form id="formT_BJD" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
            <div class="pageFormContent" layouth="58">
                @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                @Html.HiddenFor(m => m.DataModel.BJID, new { Name = "DataModel.BJID" })
                <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                    <div class="unit">
                        <label>
                            报警日期：
                        </label>
                        @Html.TextBoxFor(m => m.DataModel.BJRQ, new { name = "BJRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:279px" })
                    </div>
                </div>
                <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                    <div class="unit">
                        <label>
                            报警类型：
                        </label>
                        @Html.DropDownListFor(m => m.DataModel.BJLXID, ViewData["LX"] as SelectList, "请选择", new { style = "width:279px" })
                        @*Html.TextBoxFor(m => m.DataModel.BJLXID, new {name = "BJLXID" })*@
                    </div>
                </div>
                <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                    <div class="unit">
                        <label>
                            报警内容：
                        </label>
                        @Html.TextAreaFor(m => m.DataModel.BJNR, new { name = "BJNR", style = "width:81.3%;height:45px;" })
                    </div>
                    <div class="unit">
                        <label>
                            备注：
                        </label>
                        @Html.TextAreaFor(m => m.DataModel.BZ, new { name = "BZ", style = "width:81.3%;height:45px;" })
                    </div>
                </div>
            </div>
            <div class="formBar">
                <ul>
                    <li>
                        <div class="button">
                            <div class="buttonContent">
                                <button value="关闭" class="close">
                                    关闭
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</body>
</html>
