@model MedicalApparatusManage.Models.T_WhsQYModels
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>批发商</title>
</head>
<body>
    <div id="pageContent">
        <div class="panelBar" id="EntLimitMenu">
            <ul class="toolBar">
                @*<li><a class="add" href="/T_WhsQY/Save/0/Add" target="dialog" mask="true" title="新增" width="1050" height="540"><span>新增</span></a></li>*@
                @*<li> <a class="edit" href="/T_WhsQY/Save/{sid_user}/Edit" target="dialog" mask="true" title="修改" width="1050" height="540"><span>修改</span></a></li>*@
                @*<li><a class="delete" href="/T_WhsQY/Delete/{sid_user}" target="ajaxTodo" title="确定删除吗?" mask="true"><span>删除</span></a></li>*@
                <li><a class="icon" href="/T_WhsQY/Save/{sid_user}/Edit" target="dialog" mask="true" width="1050" height="540"><span>查看详情</span></a></li>
                @*<li><a class="icon" href="/T_WhsQY/Save/{sid_user}/Details" target="dialog" mask="true" width="1050" height="540"><span>查看详情</span></a></li>*@
            </ul>
        </div>
        <table width="100%" layouth="75" class="table" id="T_WhsQYTable">
            <thead>
                <tr>
                    <th>
                        企业名称
                    </th>
                    <th>
                        法人代表
                    </th>
                    <th>
                        信用代码
                    </th>
                    <th>
                        企业类型
                    </th>
                    <th>
                        成立日期
                    </th>
                    <th>
                        注册地址
                    </th>
                    <th>
                        营业期限
                    </th>
                    @*<th>
                            企业资质
                        </th>*@
                    <th>
                        开户行
                    </th>
                    <th>
                        银行帐号
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataList != null)
                {
                    foreach (var item in Model.DataList)
                    {
                        string whsQS = @item.WhsJYKSSJ.HasValue ? @item.WhsJYKSSJ.Value.ToLongDateString().ToString() : "";
                        string whsJS = @item.WhsJXJSSJ.HasValue ? @item.WhsJXJSSJ.Value.ToLongDateString().ToString() : "";

                        string whsZCRQ = @item.WhsZCSJ.HasValue ? @item.WhsZCSJ.Value.ToLongDateString().ToString() : "";

                        string whsQX = whsQS + " 至 " + whsJS;

                        <tr target="sid_user" rel="@item.WhsID">
                            <td>@item.WhsMC</td>
                            <td>@item.WhsFSDB</td>
                            <td>@item.WhsZZJGDM</td>
                            <td>@item.WhsDWXZ</td>
                            <td>@whsZCRQ</td>
                            <td>@item.WhsZCDZ</td>
                            <td>@whsQX</td>
                            @*<td><a href="~/UploadFiles/本企业资质/@item.WhsZZSC" target="_blank">@item.WhsZZSC</a></td>*@
                            <td>@item.WhsKHH</td>
                            <td>@item.WhsZH</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <form id="pagerForm" method="post" onsubmit="return navTabSearch(this);">
            <input type="hidden" name="pageNum" id="pageNum" />
            @Html.HiddenFor(m => m.pageSize, new { name = "numPerPage", id = "numPerPage" })
            <input type="hidden" name="totalCount" id="totalCount" />
            @Html.HiddenFor(m => m.SortCol, new { name = "SortCol_OP", id = "SortCol_OP" })
            @Html.HiddenFor(m => m.SortKey, new { name = "SortKey_OP", id = "SortKey_OP" })
            @Html.HiddenFor(m => m.StartTime, new { name = "StartTime" })
            @Html.HiddenFor(m => m.EndTime, new { name = "EndTime" })
            <input type="hidden" name="orderField" value="${param.orderField}" />
            <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        </form>
        <div class="panelBar">
            <div class="pages">
                <span style="width: 35px;">显示</span>
                @{
                    string[] sL = { "10", "20", "30", "50" };
                    List<SelectListItem>
                        list = new List<SelectListItem>
                            ();
                    foreach (string s in sL)
                    {
                        list.Add(new SelectListItem { Text = s, Value = s });
                    }
                    @Html.DropDownListFor(m => m.pageSize, list, new { name = "numPerPage", id = "numPerPage", onchange = "navTabPageBreak({numPerPage:this.value});" });
                    <span>
                        条，共<label>@Model.resultCount</label>
                        条
                    </span>

                }
            </div>
            <div class="pagination" targettype="navTab" totalcount="@Model.resultCount"
                 numperpage="@Model.pageSize" pagenumshown="@Model.pagecount"
                 currentpage="@Model.currentPage">
            </div>
        </div>
    </div>
</body>
</html>
