@model MedicalApparatusManage.Models.T_WhsQYModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.multiselect.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.11.js"></script>
    <script src="~/Scripts/jquery.multiselect.js"></script>
    <script type="text/javascript" language="javascript">
        $(function () {
            var tag = $("#Tag").val();
            if (tag == "Details") {
                $("form input").prop("readonly", true);
                $("form input,textarea").prop("disabled", "disabled");
                $("#divSave").hide();
                $("#divZZ").hide();
            }
            var str = $('#WhsJYFW').val();
            var arr = str.split(',');
            var sel = document.getElementById("example_tem");
            var len = sel.options.length;
            for (var i = 0; i < arr.length; i++) {
                for (var j = 0; j < len; j++) {
                    if (sel.options[j].value == arr[i]) {
                        sel.options[j].setAttribute("selected", true);
                        break;
                    }
                }
            }
            $("#example_tem").multiselect({
                header: false,
                height: 200,
                minWidth: 200,
                selectedList: 10,//预设值最多显示10被选中项
                hide: ["explode", 500],
                noneSelectedText: '请选择',
                close: function () {
                    var values = $("#example").val();
                }
            });
        });
        function Save() {
            var elements = document.forms['formT_WhsQY'];
            var bl = validateCallback(elements);
            if (bl) {
                //获取资质table的值赋给文本
                getQYZZ();
                var selectcheck = $('#example_tem').val();
                $('#WhsJYFW').val(selectcheck);
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_WhsQY/Save",
                    data: $("#formT_WhsQY").serializeArray(),
                    success: dialogAjaxDone
                });
            }
        };
        $(function () {
            $.ajaxSetup({ cache: false });
            //uploadify上传组件
            $('#uploadify').uploadify({
                uploader: '/T_WhsQY/Upload',           // 服务器端处理地址
                swf: '/Content/upload/uploadify.swf',    // 上传使用的 Flash
                fileSizeLimit: '100MB',             //在上传界面上限制上传文件大小
                width: 60,                          // 按钮的宽度
                height: 23,                         // 按钮的高度
                buttonText: "上传",                 // 按钮上的文字
                buttonCursor: 'hand',                // 按钮的鼠标图
                fileObjName: 'Filedata',            // 上传参数名称
                formData: { 'uptype': '0' },
                auto: true,                // 选择之后，自动开始上传
                multi: true,               // 是否支持同时上传多个文件
                //queueSizeLimit: 5          // 允许多文件上传的时候，同时上传文件的个数
                'onUploadSuccess': function (file, data) {
                    var datalist = eval("[" + data + "]");
                    //document.getElementById("txtWhsZZSC").value = datalist[0].filename;
                    //document.getElementById("aWhsZZSC").innerHTML = datalist[0].filename;
                    //document.getElementById("aWhsZZSC").setAttribute("href", datalist[0].path);
                    AddRow(datalist[0].filename);
                },
                'overrideEvents': ['onDialogClose', 'onUploadError', 'onSelectError'],
                'onSelect': uploadify_onSelect,
                'onSelectError': uploadify_onSelectError,
                'onUploadError': uploadify_onUploadError,
            });
            $('.dialogContent').css('overflow', 'auto');
        });
        function AddRow(filename) {
            $str = '';
            $str += "<tr target='sid_user'>";
            $str += "<td><a href='/UploadFiles/本企业资质/" + filename + "' target='_blank'>" + filename + "</a></td>";
            $str += "<td><div><a href='javascript:void(0)' class='btnDel' onclick='deleteQYZZ(this);'>删除</a></div></td>";
            $str += "</tr>";
            $("#wtlb").append($str);
        };
        function deleteQYZZ(obj) {
            alertMsg.confirm("确定要删除么？", {
                okCall: function () {
                    var tr = obj.parentNode.parentNode.parentNode;
                    var tbody = tr.parentNode;
                    tbody.removeChild(tr);
                }
            });
        };
        function getQYZZ() {
            var qyzzFiles = "";
            $('#wtlb tr').each(function () {
                $(this).find('td:eq(0)').each(function () {
                    if ($(this).text() != "") {
                        qyzzFiles += $(this).text() + ";";
                    }
                });
            });
            $('#QYZZFiles').val(qyzzFiles);
        };
    </script>
</head>
<body>
    <div class="pageContent">
        <form id="formT_WhsQY" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
            <div class="pageFormContent" layouth="58">
                <fieldset>
                    @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                    @Html.HiddenFor(m => m.QYZZFiles, new { ID = "QYZZFiles", Name = "QYZZFiles" })
                    @Html.HiddenFor(m => m.DataModel.WhsID, new { Name = "DataModel.WhsID" })
                    @Html.HiddenFor(m => m.DataModel.WhsJYFW, new { ID = "WhsJYFW", Name = "DataModel.WhsJYFW" })
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                企业名称：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsMC, new { name = "WhsMC", style = "width:279px", @class = "required" })
                        </div>
                        <div class="unit">
                            <label>
                                信用代码：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsZZJGDM, new { name = "WhsZZJGDM", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                注册资本(万)：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsZCZB, new { name = "WhsZCZB", style = "width:279px", @class = "number" })
                        </div>
                        <div class="unit">
                            <label>
                                注册地址：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsZCDZ, new { name = "WhsZCDZ", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                法人代表：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsFSDB, new { name = "WhsFSDB", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                企业类型：
                            </label>
                            @{
                                string[] QYL = { "国有企业", "集体企业", "股份合作企业", "有限责任公司", "联营企业", "中外合资经营企业", "中外合作经营企业" };
                                List<SelectListItem> QYlist = new List<SelectListItem>();
                                foreach (string s in QYL)
                                {
                                    QYlist.Add(new SelectListItem { Text = s, Value = s });
                                }

                                @Html.DropDownListFor(m => m.DataModel.WhsDWXZ, QYlist, "--- 请选择 ---", new { name = "WhsDWXZ", style = "width:285px" })
                            }
                        </div>
                        <div class="unit">
                            <label>
                                成立日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsZCSJ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.WhsZCSJ), name = "WhsZCSJ", style = "width:279px", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                        </div>
                        <div class="unit">
                            <label>
                                经营期限：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsJYKSSJ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.WhsJYKSSJ), name = "WhsJYKSSJ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsJXJSSJ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.WhsJXJSSJ), name = "WhsJXJSSJ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                经营范围：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.WhsJXFW, new { name = "WhsJXFW", style = "width:81.3%;height:30px;" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                开户行：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsKHH, new { name = "WhsKHH", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                许可证编号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsXKZBH, new { name = "WhsXKZBH", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                经营场所：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsJYCS, new { name = "WhsJYCS", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                银行帐号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsZH, new { name = "WhsZH", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                经营方式：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsJYCS, new { name = "WhsJYCS", style = "width:279px" })
                        </div>
                        <div class="unit">
                            <label>
                                库房地址：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsKFDZ, new { name = "WhsKFDZ", style = "width:279px" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                经营范围：
                            </label>
                            @*@Html.TextBoxFor(m => m.DataModel.WhsJYFW, new { name = "WhsJYFW", style = "width:81.3%;" })*@
                            @*@Html.DropDownList("JYList", ViewData["JYFW"] as SelectList, "请选择")*@
                            <select id="example_tem" name="AuditStatus" multiple="multiple" style="width: 300px">
                                @if (Model.JYFWList != null)
                                {
                                    foreach (var item in Model.JYFWList)
                                    {
                                        <option value="@item.FWBM  @item.FWMC"> @item.FWBM  @item.FWMC </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                生产许可证发证日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsFZRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.WhsFZRQ), name = "WhsFZRQ", style = "width:279px", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                生产许可证有效期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsYXQKS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.WhsYXQKS), name = "WhsYXQKS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.WhsYXQJS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.WhsYXQJS), name = "WhsYXQJS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                经营许可证发证日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZFZRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZFZRQ), name = "JYXKZFZRQ", style = "width:279px", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                经营许可证有效期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZYXQKS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZYXQKS), name = "JYXKZYXQKS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                            <label style="width:10px">
                                至
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.JYXKZYXQJS, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.JYXKZYXQJS), name = "JYXKZYXQJS", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit" id="divZZ">
                            <div style="float:left;width:89%;">
                                <label>
                                    资质上传：
                                </label>
                                @*<a id="aWhsZZSC" href='@Model.ZZSCPath' target="_blank">@Model.DataModel.WhsZZSC</a>
                                    @Html.TextBoxFor(m => m.DataModel.WhsZZSC, new { id = "txtWhsZZSC", name = "WhsZZSC", style = "width:81.3%;display:none;" })*@
                            </div>
                            @if (Model.RoleCode == "1")
                            {
                                <div style="float:right;width:11%;">
                                    <span id="uploadify"></span>
                                </div>
                            }
                        </div>
                        <div class="unit">
                            <label>
                                备注：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.WhsBZ, new { name = "WhsBZ", style = "width:81.3%;height:45px;" })
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>资质列表</legend>
                    <table width="100%" layouth="280" class="table">
                        <tbody id="wtlb">
                            @if (Model.WhsQYZZList != null)
                            {
                                foreach (var item in Model.WhsQYZZList)
                                {
                                    <tr target="sid_user">
                                        <td><a href="/UploadFiles/本企业资质/@item.ZZFJ" target="_blank">@item.ZZFJ</a></td>
                                        @if (Model.RoleCode == "1")
                                        {
                                            <td><a href="javascript:void(0)" class="btnDel" onclick="deleteQYZZ(this);">删除</a></td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </fieldset>
            </div>
            <div class="formBar">
                <ul>
                    @if (Model.RoleCode == "1")
                    {
                        <li>
                            <div class="button" id="divSave">
                                <div class="buttonContent">
                                    <button value="保存" onclick="Save();">
                                        保存
                                    </button>
                                </div>
                            </div>
                        </li>
                    }
                    <li>
                        <div class="button">
                            <div class="buttonContent">
                                <button value="取消" class="close">
                                    取消
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</body>
</html>
