@model MedicalApparatusManage.Models.T_YSDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" language="javascript">
        function deleteYSMX(obj) {
            var guid1 = obj.getAttribute("name");
            $.post("/T_YSD/DeleteYSMX", { Guid: guid1 }, function (data) {
                if (data.statusCode == "200") {
                    //刷新table
                    $("#ysmxBox").loadUrl("/T_YSD/YSMXTable", { id: 0, ysdh: $("#YSDH").val(), canEdit: 1 });
                    alertMsg.correct('删除成功！');
                } else {
                    alertMsg.error('删除失败！');
                }
            }, "json");
        }
    </script>
</head>
<body>
    <div>
        <table width="100%" layouth="280" class="table">
            <thead>
                <tr>
                    <th>
                        供货企业
                    </th>
                    <th>
                        产品编号
                    </th>
                    <th>
                        产品名称
                    </th>
                    <th>
                        生产企业
                    </th>
                    <th>
                        产品规格
                    </th>
                    <th>
                        产品型号
                    </th>
                    <th>
                        包装单位
                    </th>
                    <th>
                        产品数量
                    </th>
                    <th>
                        产品批号
                    </th>
                    <th>
                        生产日期
                    </th>
                    <th>
                        有效期
                    </th>
                    <th>
                        许可证号
                    </th>
                    <th>
                        注册证号
                    </th>
                    <th>
                        是否合格
                    </th>
                    <th>
                        是否收货
                    </th>
                    @{if (ViewData["canEdit"].ToString() == "1")
                    {
                        <th type="del">
                            操作
                        </th>
                    }}
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.YSMXList)
                {
                    <tr target="sid_user">
                        <td>@(item.T_SupQY != null && !string.IsNullOrEmpty(item.T_SupQY.SupMC) ? item.T_SupQY.SupMC : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPBH) ? item.T_YLCP.CPBH : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPMC) ? item.T_YLCP.CPMC : "")</td>
                        <td>@(item.T_SupQY1 != null && !string.IsNullOrEmpty(item.T_SupQY1.SupMC) ? item.T_SupQY1.SupMC : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPGG) ? item.T_YLCP.CPGG : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPXH) ? item.T_YLCP.CPXH : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPDW) ? item.T_YLCP.CPDW : "")</td>
                        <td>@item.CPNUM</td>
                        <td>@item.CPPH</td>
                        <td>@(item.CPSCRQ.HasValue ? item.CPSCRQ.Value.ToString("yyyy/MM/dd") : "")</td>
                        <td>@(item.CPYXQ.HasValue ? item.CPYXQ.Value.ToString("yyyy/MM/dd") : "")</td>
                        <td>@(item.T_SupQY1 != null && !string.IsNullOrEmpty(item.T_SupQY1.SupXKZBH) ? item.T_SupQY1.SupXKZBH : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPZCZ) ? item.T_YLCP.CPZCZ : "")</td>
                        <td>@(item.ISHG == 1 ? "是" : "否")</td>
                        <td>@(item.ISSH == 1 ? "是" : "否")</td>
                        @if (ViewData["canEdit"].ToString() == "1")
                        {
                            <td>
                                <a href="javascript:void(0)" name="@item.GUID" class="btnDel" onclick="deleteYSMX(this);">删除</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
