@model MedicalApparatusManage.Models.T_CGDModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>采购单</title>
    <script type="text/javascript">
        $(function () {
            $("#strCGPerson", $("#formSerachMACGD")).chosen({
                search_contains: true
            });
            $("#strCGCPMC", $("#formSerachMACGD")).chosen({
                search_contains: true
            });
            $("#strCGSupQY", $("#formSerachMACGD")).chosen({
                search_contains: true
            });
            $("#strCusQY", $("#formSerachMACGD")).chosen({
                search_contains: true
            });
        });
    </script>
</head>
<body>
    <div id="pageContent">
        <div class="pageHeader" style="hight: 80px;">
            @using (Html.BeginForm("Index", "T_CGD", FormMethod.Post, new
            {
                name = "formSerachMA",
                id = "formSerachMACGD",
                onsubmit = "return navTabSearch(this);"

            }))
            {
                <div class="searchBar">
                    <table class="searchContent">
                        <tr>
                            <td>
                                产品名称:
                            </td>
                            <td>
                                @Html.DropDownList("strCGCPMC", ViewData["YLCP"] as SelectList, "请选择", new { Value = ViewData["strCGCPMC"], id = "strCGCPMC", style = "width:200px;" })
                            </td>
                            <td>
                                供货企业:
                            </td>
                            <td>
                                @Html.DropDownList("strCGSupQY", ViewData["SupQYList"] as SelectList, "请选择", new { id = "strCGSupQY", style = "width:220px", Value = @ViewData["strCGSupQY"] })
                            </td>
                            <td>
                                生产企业:
                            </td>
                            <td>
                                @Html.DropDownList("strCusQY", ViewData["SupQYList"] as SelectList, "请选择", new { id = "strCusQY", style = "width:220px", Value = @ViewData["strCusQY"] })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                采购人:
                            </td>
                            <td>
                                @Html.DropDownList("strCGPerson", ViewBag.Persons as SelectList, "请选择", new { id = "strCGPerson", style = "width:150px;", Value = @ViewData["strCGPerson"] })
                            </td>
                            <td>
                                采购单名称:
                            </td>
                            <td>
                                @Html.TextBox("strCGDMC", Model.DataModel.CGDMC)
                            </td>
                            <td>
                                采购日期:
                            </td>
                            <td>
                                @{ string strStart = Model.StartTime.HasValue ? Model.StartTime.Value.ToString("yyyy/MM/dd") : "";
                                    string strEnd = Model.EndTime.HasValue ? Model.EndTime.Value.ToString("yyyy/MM/dd") : "";
                                }
                                <input id="StartDate" name="StartTime" class="Wdate" type="text" autocomplete="off" value="@strStart"
                                       onfocus="WdatePicker({ dateFmt: 'yyyy/MM/dd', maxDate: '#F{$dp.$D(\'EndDate\')}' })" />
                                至
                                <input id="EndDate" name="EndTime" class="Wdate" type="text" autocomplete="off" value="@strEnd"
                                       onfocus="WdatePicker({ dateFmt: 'yyyy/MM/dd', minDate: '#F{$dp.$D(\'StartDate\')}' })" />
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <div class="buttonActive">
                                            <div class="buttonContent">
                                                <button type="submit" id="Button1" name="btnSerachOl">
                                                    检索
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>

        <div class="panelBar" id="EntLimitMenu">
            <ul class="toolBar">
                <li><a class="add" href="/T_CGD/Save/0/Add" target="dialog" mask="true" title="新增" width="1200" height="500"><span>新增</span></a></li>
                <li><a class="delete" href="/T_CGD/Delete/{sid_user}" target="ajaxTodo" title="确定删除吗?" mask="true"><span>删除</span></a></li>
                <li><a class="edit" href="/T_CGD/Save/{sid_user}/Edit" target="dialog" mask="true" title="查看详情" width="1200" height="500"><span>查看详情</span></a></li>
                @*<li><a class="icon" href="/T_CGD/Save/{sid_user}/Details" target="dialog"  mask="true" width="1050" height="500"><span>查看详情</span></a></li>*@
                @*<li><a class="icon" href="/T_CGMX/Index/{sid_user}" target="dialog" mask="true" width="1050" height="500"><span>采购单明细</span></a></li>*@
                @*@if (ViewData["shUserId"].ToString() == "1" || ViewData["shUserId"].ToString() == "2")
                    {
                        <li> <a class="edit" href="/T_CGD/CGDSPIndex/{sid_user}" target="dialog" mask="true" title="审核" width="1050" height="580"><span>审核</span></a></li>
                    }*@
            </ul>
        </div>
        <table width="100%" layouth="112" class="table" id="T_CGDTable">
            <thead>
                <tr>
                    <th>
                        采购单号
                    </th>
                    <th>
                        采购单名称
                    </th>
                    <th>采购总额(元)</th>
                    <th>
                        采购人
                    </th>
                    <th>
                        采购日期
                    </th>
                    <th>
                        申请人
                    </th>
                    <th>
                        申请日期
                    </th>
                    <th>
                        审批状态
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataList != null)
                {
                    foreach (var item in Model.DataList)
                    {
                        <tr target="sid_user" rel="@item.CGID">
                            <td>@item.CGDH</td>
                            <td>@item.CGDMC</td>
                            <td>@item.CGTotalPrice</td>
                            <td>@item.CGPERSON</td>
                            @{ if (item.CGRQ == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.CGRQ.Value.ToString("yyyy/MM/dd")</td>
                                }
                            }
                            <td>@item.SQPERSON</td>
                            @{ if (item.SQRQ == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.SQRQ.Value.ToString("yyyy/MM/dd")</td>
                                }
                            }
                            @{
                                switch (item.ISSH)
                                {
                                    case 0:
                                        <td style="background-color:deepskyblue;">未审批</td>; break;
                                    case 1:
                                        <td style="background-color:limegreen;">审批通过</td>; break;
                                    case 2:
                                        <td style="background-color:orangered;">审批未通过</td> ; break;
                                    default:
                                        <td></td>; break;
                                }}
                        </tr>
                    }
                }
            </tbody>
        </table>
        <form id="pagerForm" method="post" onsubmit="return navTabSearch(this);">
            <input type="hidden" name="pageNum" id="pageNum" />
            @Html.HiddenFor(m => m.pageSize, new { name = "numPerPage", id = "numPerPage" })
            <input type="hidden" name="totalCount" id="totalCount" />
            @Html.HiddenFor(m => m.SortCol, new { name = "SortCol_OP", id = "SortCol_OP" })
            @Html.HiddenFor(m => m.SortKey, new { name = "SortKey_OP", id = "SortKey_OP" })
            @Html.HiddenFor(m => m.StartTime, new { name = "StartTime" })
            @Html.HiddenFor(m => m.EndTime, new { name = "EndTime" })
            <input type="hidden" name="orderField" value="${param.orderField}" />
            <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        </form>
        <div class="panelBar">
            <div class="pages">
                <span style="width: 35px;">显示</span>
                @{
                    string[] sL = { "10", "20", "30", "50" };
                    List<SelectListItem>
                        list = new List<SelectListItem>
                            ();
                    foreach (string s in sL)
                    {
                        list.Add(new SelectListItem { Text = s, Value = s });
                    }
                    @Html.DropDownListFor(m => m.pageSize, list, new { name = "numPerPage", id = "numPerPage", onchange = "navTabPageBreak({numPerPage:this.value});" });
                    <span>
                        条，共<label>@Model.resultCount</label>
                        条
                    </span>

                }
            </div>
            <div class="pagination" targettype="navTab" totalcount="@Model.resultCount"
                 numperpage="@Model.pageSize" pagenumshown="@Model.pagecount"
                 currentpage="@Model.currentPage">
            </div>
        </div>
    </div>
</body>
</html>


