@model MedicalApparatusManage.Models.T_CGDModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" language="javascript">
        $(function () {
            if ($('#cgze').length > 0) {
                Jszj();
            }
        });
        function deleteCGMX(obj) {
            var guid1 = obj.getAttribute("name");
            $.post("/T_CGMX/Delete", { Guid: guid1 }, function (data) {
                if (data.statusCode == "200") {
                    //刷新table
                    $("#cgmxBox").loadUrl("/T_CGMX/CGMXTable", { id: 0, cgdh: $("#CGDH").val(), canEdit: 1 });
                    alertMsg.correct('删除成功！');
                } else {
                    alertMsg.error('删除失败！');
                }
            }, "json");
        };
    </script>
</head>
<body>
    <div>
        <table width="100%" layouth="280" class="table">
            <thead>
                <tr>
                    <th>
                        供货企业
                    </th>
                    <th>
                        产品编号
                    </th>
                    <th>
                        产品名称
                    </th>
                    <th>
                        生产企业
                    </th>
                    <th>
                        产品规格
                    </th>
                    <th>
                        产品型号
                    </th>
                    <th>
                        包装单位
                    </th>
                    <th>
                        产品数量
                    </th>
                    <th>
                        许可证号
                    </th>
                    <th>
                        注册证号
                    </th>
                    <th>
                        进货单价(元)
                    </th>
                    <th>
                        产品总价(元)
                    </th>
                    @{if (ViewData["canEdit"].ToString() == "1" && (ViewData["IsLeader"].ToString() == "True" || Model.DataModel.ISSH != 1))
                    {
                        <th type="del">
                            操作
                        </th>
                    }}
                </tr>
            </thead>
            <tbody id="wtlb">
                @foreach (var item in Model.CGMXList)
                {
                    double? cpgs = @item.CPNUM;
                    double? cpdj = @item.CPPRICE;
                    double? cpzj = cpgs * cpdj;
                    <tr target="sid_user">
                        <td>@(item.T_SupQY != null && !string.IsNullOrEmpty(item.T_SupQY.SupMC) ? item.T_SupQY.SupMC : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPBH) ? item.T_YLCP.CPBH : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPMC) ? item.T_YLCP.CPMC : "")</td>
                        <td>@(item.T_SupQY1 != null && !string.IsNullOrEmpty(item.T_SupQY1.SupMC) ? item.T_SupQY1.SupMC : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPGG) ? item.T_YLCP.CPGG : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPXH) ? item.T_YLCP.CPXH : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPDW) ? item.T_YLCP.CPDW : "")</td>
                        <td>@item.CPNUM</td>
                        <td>@(item.T_SupQY1 != null && !string.IsNullOrEmpty(item.T_SupQY1.SupXKZBH) ? item.T_SupQY1.SupXKZBH : "")</td>
                        <td>@(item.T_YLCP != null && !string.IsNullOrEmpty(item.T_YLCP.CPZCZ) ? item.T_YLCP.CPZCZ : "")</td>
                        <td>@item.CPPRICE</td>
                        <td>@cpzj</td>
                        @{if (ViewData["canEdit"].ToString() == "1" && (ViewData["IsLeader"].ToString() == "True" || Model.DataModel.ISSH != 1))
                        {
                            <td>
                                <a href="javascript:void(0)" name="@item.GUID" class="btnDel" onclick="deleteCGMX(this);">删除</a>
                            </td>
                        }}
                    </tr>
                }
            </tbody>
        </table>

    </div>
</body>
</html>
