@model MedicalApparatusManage.Models.T_CKDModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>出库单</title>
    <script type="text/javascript" language="javascript">
        $(function () {
            $("#strCKDCPMC", $("#formSerachMACKD")).chosen({
                search_contains: true
            });
            $("#strCKDSCQY", $("#formSerachMACKD")).chosen({
                search_contains: true
            });
            $("#strCKDGHQY", $("#formSerachMACKD")).chosen({
                search_contains: true
            });
        });
    </script>
</head>
<body>
    <div id="pageContent">
        <div class="pageHeader" style="hight: 80px;">
            @using (Html.BeginForm("Index", "T_CKD", FormMethod.Post, new
            {
                name = "formSerachMA",
                id = "formSerachMACKD",
                onsubmit = "return navTabSearch(this);"

            }))
            {
                <div class="searchBar">
                    <table class="searchContent">
                        <tr>
                            <td>
                                出库单号:
                            </td>
                            <td>
                                @Html.TextBox("strCKDName", @ViewData["strCKDName"])
                            </td>
                            <td>
                                出库单名称:
                            </td>
                            <td>
                                @Html.TextBox("strCKDMC", Model.DataModel.CKMC)
                            </td>
                            <td>
                                出货日期:
                            </td>
                            <td>
                                @{ string strStart = Model.StartTime.HasValue ? Model.StartTime.Value.ToString("yyyy/MM/dd") : "";
                                    string strEnd = Model.EndTime.HasValue ? Model.EndTime.Value.ToString("yyyy/MM/dd") : "";
                                }
                                <input id="StartDate" name="StartTime" class="Wdate" type="text" autocomplete="off" value="@strStart"
                                       onfocus="WdatePicker({ dateFmt: 'yyyy/MM/dd', maxDate: '#F{$dp.$D(\'EndDate\')}' })" />
                            </td>
                            <td>
                                至
                            </td>
                            <td>
                                <input id="EndDate" name="EndTime" class="Wdate" type="text" autocomplete="off" value="@strEnd"
                                       onfocus="WdatePicker({ dateFmt: 'yyyy/MM/dd', minDate: '#F{$dp.$D(\'StartDate\')}' })" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                产品名称:
                            </td>
                            <td>
                                @Html.DropDownList("strCKDCPMC", ViewData["YLCP"] as SelectList, "请选择", new { Value = ViewData["strCKDCPMC"], id = "strCKDCPMC", style = "width:200px;" })
                            </td>
                            <td>
                                生产企业:
                            </td>
                            <td>
                                @Html.DropDownList("strCKDSCQY", ViewData["SupQYList"] as SelectList, "请选择", new { id = "strCKDSCQY", style = "width:200px", Value = @ViewData["strCKDSCQY"] })
                            </td>
                            <td>
                                购货企业:
                            </td>
                            <td>
                                @Html.DropDownList("strCKDGHQY", ViewBag.CUSQY as SelectList, "请选择", new { Value = ViewData["strCKDGHQY"], id = "strCKDGHQY", style = "width:200px;" })
                            </td>
                            <td>
                                <ul>
                                    <li>
                                        <div class="buttonActive">
                                            <div class="buttonContent">
                                                <button type="submit" id="Button1" name="btnSerachOl">
                                                    检索
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
        <div class="panelBar" id="EntLimitMenu">
            <ul class="toolBar">
                <li><a class="add" href="/T_CKD/Save/0/Add" target="dialog" mask="true" title="新增" width="1200" height="500"><span>新增</span></a></li>
                <li><a class="delete" href="/T_CKD/Delete/{sid_user}" target="ajaxTodo" title="确定删除吗?" mask="true"><span>删除</span></a></li>
                <li><a class="edit" href="/T_CKD/Save/{sid_user}/Edit" target="dialog" mask="true" title="查看详情" width="1200" height="500"><span>查看详情</span></a></li>
                <li><a class="icon" href="/T_CKD/Details/{sid_user}" target="dialog" mask="true" width="1050" height="500"><span>打印导出</span></a></li>
            </ul>
        </div>
        <table width="100%" layouth="135" class="table" id="T_CKDTable">
            <thead>
                <tr>
                    <th>
                        出库单号
                    </th>
                    <th>
                        出库单名称
                    </th>
                    <th>
                        销售单号
                    </th>
                    <th>
                        出库申请人
                    </th>
                    <th>
                        申请日期
                    </th>
                    <th>
                        复核人
                    </th>
                    <th>
                        复核时间
                    </th>
                    <th>
                        仓库出货人
                    </th>
                    <th>
                        出货日期
                    </th>
                    <th>
                        备注
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataList != null)
                {
                    foreach (var item in Model.DataList)
                    {
                        <tr target="sid_user" rel="@item.CKID">
                            <td>@item.CKDH</td>
                            <td>@item.CKMC</td>
                            <td>@((item.T_XSD != null && !string.IsNullOrEmpty(item.T_XSD.XSDH)) ? item.T_XSD.XSDH : "")</td>
                            <td>@item.CKSQR</td>
                            @{ if (item.SQRQ == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.SQRQ.Value.ToString("yyyy/MM/dd")</td>
                                }
                            }
                            <td>@item.FHR</td>
                            @{ if (item.FHRQ == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.FHRQ.Value.ToString("yyyy/MM/dd")</td>
                                }
                            }
                            <td>@item.CKCHR</td>
                            @{ if (item.CHRQ == null)
                                {
                                    <td></td>
                                }
                                else
                                {
                                    <td>@item.CHRQ.Value.ToString("yyyy/MM/dd")</td>
                                }
                            }
                            <td>@item.CHBZ</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <form id="pagerForm" method="post" onsubmit="return navTabSearch(this);">
            <input type="hidden" name="pageNum" id="pageNum" />
            @Html.HiddenFor(m => m.pageSize, new { name = "numPerPage", id = "numPerPage" })
            <input type="hidden" name="totalCount" id="totalCount" />
            @Html.HiddenFor(m => m.SortCol, new { name = "SortCol_OP", id = "SortCol_OP" })
            @Html.HiddenFor(m => m.SortKey, new { name = "SortKey_OP", id = "SortKey_OP" })
            @Html.HiddenFor(m => m.StartTime, new { name = "StartTime" })
            @Html.HiddenFor(m => m.EndTime, new { name = "EndTime" })
            <input type="hidden" name="orderField" value="${param.orderField}" />
            <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        </form>
        <div class="panelBar">
            <div class="pages">
                <span style="width: 35px;">显示</span>
                @{
                    string[] sL = { "10", "20", "30", "50", "100", "500", "1000", "5000" };
                    List<SelectListItem>
                                list = new List<SelectListItem>
                                    ();
                    foreach (string s in sL)
                    {
                        list.Add(new SelectListItem { Text = s, Value = s });
                    }
                    @Html.DropDownListFor(m => m.pageSize, list, new { name = "numPerPage", id = "numPerPage", onchange = "navTabPageBreak({numPerPage:this.value});" });
                    <span>
                        条，共<label>@Model.resultCount</label>
                        条
                    </span>

                }
            </div>
            <div class="pagination" targettype="navTab" totalcount="@Model.resultCount"
                 numperpage="@Model.pageSize" pagenumshown="@Model.pagecount"
                 currentpage="@Model.currentPage">
            </div>
        </div>
    </div>
</body>
</html>
