@model MedicalApparatusManage.Models.T_CKDModels
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Save</title>
    <script type="text/javascript" language="javascript">
        $(function () {
            refreshCkmxGrid();
            $("#ckdCKSQR").chosen({
                search_contains: true
            });
            $("#ckdFHR").chosen({
                search_contains: true
            });
            $("#ckdCKCHR").chosen({
                search_contains: true
            });
        });
        function Save() {
            $.pdialog.closeCurrent();
            navTab.reload("/T_CKD/Index");
        };
        function SaveCkd() {
            var elements = document.forms['formT_CKD'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CKD/Save",
                    data: $("#formT_CKD").serializeArray(),
                    success: function (data) {
                        if (data.statusCode == "200") {
                            $("#lblCkd").text("保存成功，请填写出库明细！");
                            $("#lblCkmx").text("");
                            if ($("#Tag").val() == "Add") {
                                $("#CKDID").val($("#CKDH").val());
                                $("#divSaveCkd").hide();
                            }
                        }
                    }
                });
            }
        };
        function SaveCkmx() {
            if ($("#CkidMain").val() != 0) {
                $("#CKDID").val($("#CKDH").val());
            }
            if (parseFloat($("#kcnum").val()) < parseFloat($("#cpnum").val())) {
                $("#lblCkmx").text("出库数量超出库存数量，无法出库");
                return false;
            }
            if ($("#CKDID").val() == 0 || $("#CKDID").val() == "") {
                $("#lblCkmx").text("请先填写出库单！");
                return false;
            }
            if ($("#CPPH").find("option:selected").text() == "请选择") {
                $("#lblCkmx").text("请选择产品批号！");
                return false;
            }
            var elements = document.forms['formT_CKMX'];
            var bl = validateCallback(elements);
            if (bl) {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CKMX/Save",
                    data: $("#formT_CKMX").serializeArray(),
                    success: function (data) {
                        if (data.statusCode == "200") {
                            alertMsg.correct('保存成功！');
                            $("#guid").val(data.guid);
                            //Grid添加行
                            //AddRow();
                            //清空表单
                            RefreshForm();
                            refreshCkmxGrid();
                        } else {
                            //$("#lblCgdmx").text("保存失败！");
                            alertMsg.error('保存失败！')
                        }
                    }
                });
            }
        };
        function RefreshForm() {
            $('#formT_CKMX')[0].reset();
            //清空仓库和批号列表
            var html = '<option>请选择</option>';
            var $ref = $("#CK");
            var $refCombox = $ref.parents("div.combox:first");
            $ref.html(html).insertAfter($refCombox);
            $refCombox.remove();
            var $ref = $("#CPPH");
            var $refCombox = $ref.parents("div.combox:first");
            $ref.html(html).insertAfter($refCombox);
            $refCombox.remove();
        }
        function AddRow() {
            var tag = $("#guid").val();
            var cpgg = $("#cpgg").val();
            var cpnum = $("#cpnum").val();
            var cKName = $("#CK").find("option:selected").text() == "请选择" ? "" : $("#CK").find("option:selected").text();
            var cpName = $("#CPMC").find("option:selected").text() == "请选择" ? "" : $("#CPMC").find("option:selected").text();
            var bz = $("#bz").val();
            $str = '';
            $str += "<tr target='sid_user'>";
            $str += "<td><div>" + cKName + "</div></td>";
            $str += "<td><div>" + cpName + "</div></td>";
            $str += "<td><div>" + cpgg + "</div></td>";
            $str += "<td><div>" + cpnum + "</div></td>";
            $str += "<td><div><a href='javascript:void(0)' name='" + tag + "' class='btnDel' onclick='deleteCKMX(this);'>删除</a></div></td>";
            $str += "</tr>";
            $("#wtlb").append($str);
        }
        function deleteCKMX(obj) {
            deleteCurrentRow(obj);
            var guid1 = obj.getAttribute("name");
            $.post("/T_CKMX/Delete", { Guid: guid1 }, function (data) {
                if (data.statusCode == "200") {
                    alertMsg.correct('删除成功！');
                } else {
                    alertMsg.error('删除失败！');
                }
            }, "json");
        }
        function deleteCurrentRow(obj) {
            var tr = obj.parentNode.parentNode.parentNode;
            var tbody = tr.parentNode;
            tbody.removeChild(tr);
        };
        function dropChange(id) {
            if (id != "" && id != "请选择") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_XSMX/GetYLCP",
                    data: { xsdid: id },
                    success: function (json) {
                        if (!json) return;
                        var html = '';
                        $.each(json, function (i) {
                            if (json[i] && json[i].length > 1) {
                                html += '<option value="' + json[i][0] + '">' + json[i][1] + '</option>';
                            }
                        });
                        var $ref = $("#CPMC");
                        var $refCombox = $ref.parents("div.combox:first");
                        $ref.html(html).insertAfter($refCombox);
                        $refCombox.remove();
                    },
                    error: function () {
                        alert("发生错误！");
                    }
                });
            }
        };

        function dropCkChange(id) {
            if (id != "" && id != "请选择") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CK/GetCkByCPID",
                    data: { id: id },
                    success: function (json) {
                        if (!json) return;
                        var html = '';
                        $.each(json, function (i) {
                            if (json[i] && json[i].length > 1) {
                                html += '<option value="' + json[i][0] + '">' + json[i][1] + '</option>';
                            }
                        });
                        var $ref = $("#CK");
                        var $refCombox = $ref.parents("div.combox:first");
                        $ref.html(html).insertAfter($refCombox);
                        $refCombox.remove();
                        dropCPPHChange($("#CK").val());
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
        };

        function dropCPPHChange(ckid) {
            var cpid = $("#supcpId").val();
            //if (cpid != "" && cpid != "请选择" && ckid != "" && ckid != "请选择") {
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/T_CK/GetCkByCPPH",
                data: { cpid: cpid, ckid: ckid },
                success: function (json) {
                    if (!json) return;
                    var html = '';
                    $.each(json, function (i) {
                        if (json[i] && json[i].length > 1) {
                            html += '<option value="' + json[i][0] + '">' + json[i][1] + '</option>';
                        }
                    });
                    var $ref = $("#CPPH");
                    var $refCombox = $ref.parents("div.combox:first");
                    $ref.html(html).insertAfter($refCombox);
                    $refCombox.remove();
                },
                error: function () {
                    alertMsg.error('发生错误！');
                }
            });
            if (ckid != "" && ckid != "请选择") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CK/GetCkByCkid",
                    data: { ckid: ckid },
                    success: function (json) {
                        if (!json) return;
                        var tes = eval("(" + json + ")");
                        $("#kg").val(tes.CKGLY);
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
            else {
                $("#kg").val("");
                $("#cpscrq").val("");
                $("#cpyxq").val("");
                $("#kcnum").val("");
            }
        };

        function dropCPChange(cpph) {
            var cpid = $("#supcpId").val();
            var ckid = $("#CK").val();
            if (cpid != "" && cpid != "请选择" && ckid != "" && ckid != "请选择" && cpph != "" && cpph != "请选择") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_CK/GetCPByCPPH",
                    data: { cpid: cpid, ckid: ckid, cpph: cpph },
                    success: function (json) {
                        var tes = eval("(" + json + ")");
                        $("#cpscrq").val(tes.CPSCRQ);
                        $("#cpyxq").val(tes.CPYXQ);
                        $("#kcnum").val(tes.CPNUM);
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
            else {
                $("#cpscrq").val("");
                $("#cpyxq").val("");
                $("#kcnum").val("");
            }
        };

        function tqXsd() {
            var xsid = $("#xsd").find("option:selected").val();
            if (xsid == "") {
                alertMsg.error('请选择销售单！');
                return false;
            }
            $("#xsmxBox").loadUrl("/T_XSMX/XSMXTable", { id: xsid, xsdh: "", canEdit: 0, ISSH: 1 });
            $.ajax({
                type: "post",
                dataType: "json",
                url: "/T_XSD/GetXsInfoByID",
                data: { id: xsid },
                success: function (json) {
                    var tes = eval("(" + json + ")");
                    $("#xsperson").val(tes.XSRY);
                    $("#xsrq").val(tes.XSRQ);
                },
                error: function () {
                    alertMsg.error('发生错误！');
                }
            });
        };

        function refreshCkmxGrid() {
            $("#ckmxCkPageBox").loadUrl("/T_CKMX/CKMXTable", {
                id: $("#CkidMain").val(), ckdh: $("#CKDH").val(), canEdit: 0
            });
        };
        function bindXSMX(mxId) {
            $("#lblCkmx").text("");
            dropMxChange(mxId);
        }
        function dropMxChange(id) {
            if (id != "") {
                $.ajax({
                    type: "post",
                    dataType: "json",
                    url: "/T_XSD/GetYLCPDetailsByMXID",
                    data: { mxid: id },
                    success: function (json) {
                        var tes = eval("(" + json + ")");
                        $("#cpbh").val(tes.CPBH);
                        $("#supcpId").val(tes.CPID);
                        $("#cpmc").val(tes.CPMC);
                        $("#scqy").val(tes.SCQYMC);
                        $("#cpgg").val(tes.CPGG);
                        $("#cpxh").val(tes.CPXH);
                        $("#cpdw").val(tes.CPDW);
                        $("#cpnum").val(tes.CPNUM);
                        $("#cpxkzh").val(tes.XKZH);
                        $("#cpzczh").val(tes.ZCZH);
                        $("#CYTJ").val(tes.CYTJ);
                        dropCkChange(tes.CPID);
                    },
                    error: function () {
                        alertMsg.error('发生错误！');
                    }
                });
            }
        }
    </script>
</head>
<body>
    <div class="pageContent">
        <div class="pageFormContent" layouth="58">
            <fieldset>
                <legend>出库单</legend>
                <form id="formT_CKD" method="post" onsubmit="return false;" class="pageForm required-validate-noalert" style="overflow:visible;">
                    @Html.HiddenFor(m => m.Tag, new { ID = "Tag", Name = "Tag" })
                    @Html.HiddenFor(m => m.DataModel.CKID, new { ID = "CkidMain", Name = "DataModel.CKID" })
                    @Html.HiddenFor(m => m.DataModel.CKCJR, new { Name = "DataModel.CKCJR" })
                    @Html.HiddenFor(m => m.DataModel.CKCJRQ, new { Name = "DataModel.CKCJRQ" })
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                出库单号：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CKDH, new { id = "CKDH", name = "CKDH", style = "width:279px", ReadOnly = true })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                出库单名称：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CKMC, new { name = "CKMC", style = "width:279px", @class = "required" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                销售单号：
                            </label>
                            @Html.DropDownListFor(m => m.DataModel.XSID, ViewData["XSD"] as SelectList, "请选择", new { ID = "xsd", style = "width:285px" })
                            @{if (Model.DataModel.CKID == 0)
                                {
                                    <button value="提取" onclick="tqXsd();">
                                        提取
                                    </button>
                                }
                            }
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                销售单完结：
                            </label>
                            @{
                                List<SelectListItem> xsdList = new List<SelectListItem>();
                                xsdList.Add(new SelectListItem { Text = "未完结", Value = "0" });
                                xsdList.Add(new SelectListItem { Text = "已完结", Value = "1" });
                                @Html.DropDownListFor(m => m.DataModel.IsFinish, xsdList, new { name = "IsFinish", style = "width:285px",Value=Model.DataModel.IsFinish })
                            }
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                申请人：
                            </label>
                            @Html.DropDownListFor(m => m.DataModel.CKSQR, ViewBag.Persons as SelectList, "请选择", new { id = "ckdCKSQR", style = "width:285px" })
                        </div>
                        <div class="unit">
                            <label>
                                复核人：
                            </label>
                            @Html.DropDownListFor(m => m.DataModel.FHR, ViewBag.Persons as SelectList, "请选择", new { id = "ckdFHR", style = "width:285px" })
                        </div>
                        <div class="unit">
                            <label>
                                销售人：
                            </label>
                            <input type="text" name="" id="xsperson" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                仓库出货人：
                            </label>
                            @Html.DropDownListFor(m => m.DataModel.CKCHR, ViewBag.Persons as SelectList, "请选择", new { id = "ckdCKCHR", style = "width:285px" })
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                申请日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.SQRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.SQRQ), name = "SQRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:279px", autocomplete = "off" })
                        </div>
                        <div class="unit">
                            <label>
                                复核日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.FHRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.FHRQ), name = "FHRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:279px", autocomplete = "off" })
                        </div>
                        <div class="unit">
                            <label>
                                销售日期：
                            </label>
                            <input type="text" name="" id="xsrq" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                出货日期：
                            </label>
                            @Html.TextBoxFor(m => m.DataModel.CHRQ, new { Value = String.Format("{0:yyyy/MM/dd}", Model.DataModel.CHRQ), name = "CHRQ", @class = "Wdate", onfocus = "WdatePicker({ dateFmt: 'yyyy/MM/dd' })", style = "width:279px", autocomplete = "off" })
                        </div>
                    </div>
                    <div style="width:96%;border:1px solid #ffffff;margin:5px;">
                        <div class="unit">
                            <label>
                                备注：
                            </label>
                            @Html.TextAreaFor(m => m.DataModel.CHBZ, new { name = "CHBZ", style = "width:80.5%;height:30px;" })
                        </div>
                    </div>
                </form>
                <div style="width:91%;border:1px solid #ffffff;margin:5px;">
                    <div><label id="lblCkd" style="width:50%;color:red;"></label></div>
                    @{if (Model.DataModel.CKID == 0)
                        {
                            <div class="button" id="divSaveCkd" style="float:right;">
                                <div class="buttonContent">
                                    <button id="btnCkd" value="保存出库单" onclick="SaveCkd();">
                                        保存出库单
                                    </button>
                                </div>
                            </div>
                        } }
                </div>
            </fieldset>
            <fieldset>
                <legend>销售明细</legend>
                <div id="xsmxBox" class="unitBox">
                </div>
            </fieldset>
            <fieldset>
                <legend>出库明细</legend>
                <form id="formT_CKMX" method="post" onsubmit="return false;" class="pageForm required-validate-noalert">
                    @Html.HiddenFor(m => m.Tag, new { Value = "Add", Name = "Tag" })
                    @Html.HiddenFor(m => m.T_CKMXModel.CKMID, new { Name = "DataModel.CKMID" })
                    @Html.HiddenFor(m => m.T_CKMXModel.CPID, new { ID = "supcpId", Name = "DataModel.CPID" })
                    <input type="hidden" id="CKDID" name="CKDH">
                    <input type="hidden" id="guid">
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:left;">
                        <div class="unit">
                            <label>
                                产品编号：
                            </label>
                            <input type="text" name="" id="cpbh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品名称：
                            </label>
                            @*<select id="CPMC" name="DataModel.CPID" style="width:285px" onchange="dropCkChange(this.value)">
                                    <option>请选择</option>
                                    @{foreach (var item in ViewData["YLCP"] as SelectList)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }}
                                </select>*@
                            <input type="text" id="cpmc" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                生产企业：
                            </label>
                            <input type="text" name="" id="scqy" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品规格：
                            </label>
                            <input type="text" name="" id="cpgg" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品型号：
                            </label>
                            <input type="text" name="" id="cpxh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                包装单位：
                            </label>
                            <input type="text" name="" id="cpdw" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品数量：
                            </label>
                            @Html.TextBox("DataModel.CPNUM", "", new { ID = "cpnum", style = "width:279px", @class = "required digits" })
                        </div>
                        <div class="unit">
                            <label>
                                产品批号：
                            </label>
                            <select id="CPPH" name="DataModel.CPPH" style="width:285px" onchange="dropCPChange(this.value)">
                                <option>请选择</option>
                            </select>
                        </div>
                    </div>
                    <div style="width:48%;border:1px solid #ffffff;margin:5px;float:right;">
                        <div class="unit">
                            <label>
                                生产日期：
                            </label>
                            <input type="text" name="DataModel.CPSCRQ" id="cpscrq" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                失效日期：
                            </label>
                            <input type="text" name="DataModel.CPYXQ" id="cpyxq" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                生产许可证号：
                            </label>
                            <input type="text" name="" id="cpxkzh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                产品注册证号：
                            </label>
                            <input type="text" name="" id="cpzczh" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                库房：
                            </label>
                            <select id="CK" name="DataModel.CKID" style="width:285px" onchange="dropCPPHChange(this.value)">
                                <option>请选择</option>
                            </select>
                        </div>
                        <div class="unit">
                            <label>
                                库管：
                            </label>
                            <input type="text" name="" id="kg" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                库存数量：
                            </label>
                            <input type="text" name="" id="kcnum" style="width:279px" readonly="readonly" value="" />
                        </div>
                        <div class="unit">
                            <label>
                                储运条件：
                            </label>
                            @*@Html.TextBoxFor(m => m.T_CKMXModel.CYTJ, new { id = "CYTJ", name = "DataModel.CYTJ", style = "width:279px" })*@
                            <input type="text" name="DataModel.CYTJ" id="CYTJ" style="width:279px" readonly="readonly" value="" />
                        </div>
                    </div>
                    <div style="width:91%;border:1px solid #ffffff;margin:5px;">
                    </div>
                </form>
                <div style="width:91%;border:1px solid #ffffff;margin:5px;">
                    <div><label id="lblCkmx" style="width:50%;color:red;"></label></div>
                    @{if (Model.DataModel.CKID == 0)
                        {
                            <div class="button" id="divSaveCkMx" style="float:right;">
                                <div class="buttonContent">
                                    <button value="保存明细" onclick="SaveCkmx();">
                                        保存明细
                                    </button>
                                </div>
                            </div>
                        }
                    }
                </div>
            </fieldset>
            <fieldset>
                <div id="ckmxCkPageBox" class="unitBox">
                </div>
            </fieldset>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="button" id="divSave">
                        <div class="buttonContent">
                            <button value="关闭" onclick="Save();">
                                关闭
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</body>
</html>
