@model MedicalApparatusManage.Models.T_SupQYModels
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>供应商</title>
</head>
<body>
    <div id="pageContent">
        <div class="pageHeader">
            @using (Html.BeginForm("Index", "T_SupQY", FormMethod.Post, new
            {
                name = "formSerachMA",
                id = "formSerachMA",
                onsubmit = "return navTabSearch(this);"

            }))
            {
                <div class="searchBar">
                    <table class="searchContent">
                        <tr>
                            <td>
                                企业名称:
                            </td>
                            <td>
                                @Html.TextBox("strSupMc", ViewData["strSupMc"])
                            </td>
                            <td>
                                企业类型:
                            </td>
                            <td>
                                @Html.DropDownList("strQYLX", ViewBag.QYLX as SelectList, ViewData["strQYLX"])
                            </td>
                            <td>
                                审核状态:
                            </td>
                            <td>
                                @Html.DropDownList("strSHZT", ViewBag.SHZT as SelectList, ViewData["strSHZT"])
                            </td>

                            <td>
                                <ul>
                                    <li>
                                        <div class="buttonActive">
                                            <div class="buttonContent">
                                                <button type="submit" id="Button1" name="btnSerachOl">
                                                    检索
                                                </button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
        <div class="panelBar" id="EntLimitMenu">
            <ul class="toolBar">
                <li><a class="add" href="/T_SupQY/Save/0/Add" target="dialog" mask="true" title="新增" width="1050" height="500"><span>新增</span></a></li>
                <li><a class="delete" href="/T_SupQY/Delete/{sid_user}" target="ajaxTodo" title="确定删除吗?" mask="true"><span>删除</span></a></li>
                <li><a class="edit" href="/T_SupQY/Save/{sid_user}/Edit" target="dialog" mask="true" title="查看详情" width="1050" height="500"><span>查看详情</span></a></li>
                @*<li><a class="icon" href="/T_SupQY/Save/{sid_user}/Details" target="dialog" mask="true" width="1050" height="500"><span>查看详情</span></a></li>
                    @if (ViewData["shUserId"].ToString() == "1" || ViewData["shUserId"].ToString() == "2")
                    {
                        <li> <a class="edit" href="/T_SupQY/AuditIndex/{sid_user}" target="dialog" mask="true" title="审核" width="1050" height="580"><span>审核</span></a></li>
                    }*@
            </ul>
        </div>
        <table width="100%" layouth="112" class="table" id="T_SupQYTable">
            <thead>
                <tr>
                    <th>
                        企业名称
                    </th>
                    <th>
                        法人代表
                    </th>
                    <th>
                        信用代码
                    </th>
                    <th>
                        企业类型
                    </th>
                    <th>
                        注册资本(万)
                    </th>
                    <th>
                        成立日期
                    </th>
                    <th>
                        注册地址
                    </th>
                    @*<th>企业资质</th>*@
                    <th>
                        开户行
                    </th>
                    <th>
                        银行帐号
                    </th>
                    <th>
                        审核状态
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DataList != null)
                {
                    {
                        foreach (var item in Model.DataList)
                        {
                            string SurQS = @item.SupJYKSSJ.HasValue ? @item.SupJYKSSJ.Value.ToLongDateString().ToString() : "";
                            string SurJS = @item.SupJXJSSJ.HasValue ? @item.SupJXJSSJ.Value.ToLongDateString().ToString() : "";

                            string SurZCRQ = @item.SupZCSJ.HasValue ? @item.SupZCSJ.Value.ToLongDateString().ToString() : "";

                            string SurQX = SurQS + " 至 " + SurJS;
                            <tr target="sid_user" rel="@item.SupID">
                                <td>@item.SupMC</td>
                                <td>@item.SupFSDB</td>
                                <td>@item.SupZZJGDM</td>
                                <td>@item.SupDWXZ</td>
                                <td>@item.SupZCZB</td>
                                <td>@SurZCRQ</td>
                                <td>@item.SupZCDZ</td>
                                @*<td><a href="~/UploadFiles/供货企业资质/@item.SupZZSC" target="_blank">@item.SupZZSC</a></td>*@
                                <td>@item.SupKHH</td>
                                <td>@item.SupZH</td>
                                @{
                                    switch (item.SupStatus)
                                    {
                                        case 0:
                                            <td style="background-color:deepskyblue;">未审批</td>; break;
                                        case 1:
                                            <td style="background-color:limegreen;">已审批</td>; break;
                                        case 2:
                                            <td style="background-color:orangered;">审批未通过</td> ; break;
                                        default:
                                            <td></td>; break;
                                    }}
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <form id="pagerForm" method="post" onsubmit="return navTabSearch(this);">
            <input type="hidden" name="pageNum" id="pageNum" />
            @Html.HiddenFor(m => m.pageSize, new { name = "numPerPage", id = "numPerPage" })
            <input type="hidden" name="totalCount" id="totalCount" />
            @Html.HiddenFor(m => m.SortCol, new { name = "SortCol_OP", id = "SortCol_OP" })
            @Html.HiddenFor(m => m.SortKey, new { name = "SortKey_OP", id = "SortKey_OP" })
            @Html.HiddenFor(m => m.StartTime, new { name = "StartTime" })
            @Html.HiddenFor(m => m.EndTime, new { name = "EndTime" })
            <input type="hidden" name="orderField" value="${param.orderField}" />
            <input type="hidden" name="orderDirection" value="${param.orderDirection}" />
        </form>
        <div class="panelBar">
            <div class="pages">
                <span style="width: 35px;">显示</span>
                @{
                    string[] sL = { "10", "20", "30", "50" };
                    List<SelectListItem>
                        list = new List<SelectListItem>
                            ();
                    foreach (string s in sL)
                    {
                        list.Add(new SelectListItem { Text = s, Value = s });
                    }
                    @Html.DropDownListFor(m => m.pageSize, list, new { name = "numPerPage", id = "numPerPage", onchange = "navTabPageBreak({numPerPage:this.value});" });
                    <span>
                        条，共<label>@Model.resultCount</label>
                        条
                    </span>

                }
            </div>
            <div class="pagination" targettype="navTab" totalcount="@Model.resultCount"
                 numperpage="@Model.pageSize" pagenumshown="@Model.pagecount"
                 currentpage="@Model.currentPage">
            </div>
        </div>
    </div>
</body>
</html>
